### Check all seasons:

In [147]:
import pandas as pd

# --- Load files ---
# sf_df = pd.read_excel("New Assets Report - Gil-2025-08-19-02-20-51.xlsx") # all
sf_df = pd.read_excel("New Assets Report - Gil-2025-08-25-04-49-08.xlsx") # only 2324
robo_df = pd.read_excel("Season_Tickets_modified.xlsx")

In [148]:
robo_df_23 = robo_df[robo_df['Asset Name'] == 'מנוי לעונת 2023-2024']
robo_missing_id = robo_df_23[robo_df_23['Owner User ID'].isna()]
robo_full = robo_df_23[robo_df_23['Owner User ID'].notna()]

robo_missing_id['Roboticket ID'] = robo_missing_id['Roboticket ID'].astype(int)
robo_full['Roboticket ID'] = robo_full['Roboticket ID'].astype(int)
robo_df_23['Roboticket ID'] = robo_df_23['Roboticket ID'].astype(int)

/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_16770/655415940.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  robo_missing_id['Roboticket ID'] = robo_missing_id['Roboticket ID'].astype(int)
/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_16770/655415940.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  robo_full['Roboticket ID'] = robo_full['Roboticket ID'].astype(int)
/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_16770/655415940.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  robo_df_23['Roboticket ID'] = robo_df_23['Roboticket ID'].astype(int)

In [149]:
users = pd.read_csv('UserCreatedReport_2025-08-25 14_59.csv')
users

/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_16770/78208075.py:1: DtypeWarning: Columns (5,14,15,18,19,22,23,24,25,26,28,29,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  users = pd.read_csv('UserCreatedReport_2025-08-25 14_59.csv')

,createdon,updatedon,lastactivitydate,useragreement,userid,foreigner,identifier,firstname,lastname,email,...,customfield1,customfield2,customfield3,alias,organization,isorganization,useridentityverified,note,Unnamed: 30,Unnamed: 31
0,05/03/2021 10:47,NaN,05/03/2021 10:47,NaN,-1.0,True,fan,system,user,fake@fan.email,...,NaN,NaN,NaN,NaN,NaN,No,FALSE,NaN,NaN,NaN
1,28/03/2024 0:00,10/06/2025 8:22,10/06/2025 8:22,NaN,37059.0,False,335062808,אורי,אביטל,ayelet.avit@gmail.com,...,ayelet.avit@gmail.com,NaN,NaN,NaN,NaN,No,FALSE,Import,NaN,NaN
2,28/03/2024 0:00,26/05/2024 0:00,26/05/2024 0:00,NaN,24581.0,True,24581,אבי,סלמן,NaN,...,office@hapoel.co.il,NaN,NaN,NaN,NaN,No,FALSE,Import,NaN,NaN
3,28/03/2024 0:00,26/05/2024 0:00,26/05/2024 0:00,NaN,20194.0,True,20194,רונית,אמיר יניב,NaN,...,RonitA@arnon.co.il,NaN,NaN,NaN,NaN,No,FALSE,Import,NaN,NaN
4,28/03/2024 0:00,06/06/2025 4:58,06/06/2025 4:58,NaN,12059.0,False,213398126,אביתר,סבג,evyatarsabag12@gmail.com,...,assafs@ein-gedi.co.il,NaN,NaN,NaN,NaN,No,FALSE,Import,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51514,24/08/2025 9:56,24/08/2025 10:59,24/08/2025 10:56,NaN,1433415.0,False,329239875,יואל,שפירא,yoelshapo1@gmail.com,...,NaN,NaN,NaN,NaN,NaN,No,False,NaN,NaN,NaN
51515,24/08/2025 11:45,24/08/2025 12:45,24/08/2025 12:45,NaN,1433416.0,False,214137440,אופיר,קדם,jamgumgaming@gmail.com,...,NaN,NaN,NaN,NaN,NaN,No,False,NaN,NaN,NaN
51516,24/08/2025 15:00,NaN,24/08/2025 15:00,NaN,1433448.0,False,021353172,לירון,ברקוביץ,NaN,...,NaN,NaN,NaN,NaN,NaN,No,False,NaN,NaN,NaN
51517,24/08/2025 20:16,24/08/2025 21:16,24/08/2025 21:16,NaN,1433482.0,False,306981564,דוד,סז'מן,david.sajman@gmail.com,...,NaN,NaN,NaN,NaN,NaN,No,False,NaN,NaN,NaN
51518,24/08/2025 20:34,NaN,24/08/2025 20:34,NaN,1433481.0,False,226554103,ירדן,רוטנר,NaN,...,NaN,NaN,NaN,NaN,NaN,No,False,NaN,NaN,NaN

In [150]:
st_2324 = pd.read_csv('List_Report_20250825124936.csv')
st_2324 = st_2324[(st_2324['User Id'].isna()) & (st_2324['Cashier'].notna())]
st_modified = st_2324[['Seat', 'Cashier', 'Id']]
st_modified

                    Seat                Cashier      Id
0      אולם,אולם 4,22,22     idan@nightsapp.com  798372
1      אולם,אולם 4,22,23     idan@nightsapp.com  798373
2      אולם,אולם 4,22,10     idan@nightsapp.com  798363
3       אולם,אולם 4,22,6     idan@nightsapp.com  798362
4      אולם,אולם 4,22,21     idan@nightsapp.com  798371
...                  ...                    ...     ...
4000    אולם,אולם 6,17,4     nimi2270@gmail.com  795822
4027    אולם,אולם 5,21,9          jon@djacq.com  797220
4051   אולם,אולם 11,19,3  giladfroind@gmail.com  795559
4080   אולם,אולם 5,21,12          jon@djacq.com  797223
4103  אולם,12 אולם,15,43  liorwinkler@gmail.com  796607

[778 rows x 3 columns]

In [151]:
st_try = st_modified.merge(users[['userid', 'email', 'identifier']], left_on='Cashier', right_on='email', how='left')
st_try

,Seat,Cashier,Id,userid,email,identifier
0,"אולם,אולם 4,22,22",idan@nightsapp.com,798372,36997.0,idan@nightsapp.com,36997
1,"אולם,אולם 4,22,23",idan@nightsapp.com,798373,36997.0,idan@nightsapp.com,36997
2,"אולם,אולם 4,22,10",idan@nightsapp.com,798363,36997.0,idan@nightsapp.com,36997
3,"אולם,אולם 4,22,6",idan@nightsapp.com,798362,36997.0,idan@nightsapp.com,36997
4,"אולם,אולם 4,22,21",idan@nightsapp.com,798371,36997.0,idan@nightsapp.com,36997
...,...,...,...,...,...,...
789,"אולם,אולם 6,17,4",nimi2270@gmail.com,795822,16082.0,nimi2270@gmail.com,25185638
790,"אולם,אולם 5,21,9",jon@djacq.com,797220,47039.0,jon@djacq.com,47039
791,"אולם,אולם 11,19,3",giladfroind@gmail.com,795559,24834.0,giladfroind@gmail.com,53085387
792,"אולם,אולם 5,21,12",jon@djacq.com,797223,47039.0,jon@djacq.com,47039
793,"אולם,12 אולם,15,43",liorwinkler@gmail.com,796607,37815.0,liorwinkler@gmail.com,24466815

In [152]:
a = st_modified['Cashier'].value_counts().rename_axis('email').reset_index(name='Count_before')

b = st_try['email'].value_counts().rename_axis('email').reset_index(name='Count_after')

c = b.merge(a, on='email', how='outer').fillna(0).astype({'Count_before': 'int', 'Count_after': 'int'})
c['diff'] = c['Count_before'] - c['Count_after']

In [153]:
c[c['diff'] != 0]

                           email  Count_after  Count_before  diff
15   amichaygoldenberg@gmail.com            2             1    -1
22            arik@grebelsky.com            4             2    -2
42             boazh88@gmail.com            8             4    -4
55         david.pisga@gmail.com            2             1    -1
73             eladyif@gmail.com            6             3    -3
121         josephel@walla.co.il            2             1    -1
183            soffer2@gmail.com            2             1    -1
187            tcdafna@gmail.com            6             3    -3

In [154]:
users[users['email'] ==  'tcdafna@gmail.com']

,createdon,updatedon,lastactivitydate,useragreement,userid,foreigner,identifier,firstname,lastname,email,...,customfield1,customfield2,customfield3,alias,organization,isorganization,useridentityverified,note,Unnamed: 30,Unnamed: 31
14029,28/03/2024 0:00,01/08/2025 19:57,01/08/2025 19:57,NaN,11870.0,True,26622605,דפנה,יפרח,tcdafna@gmail.com,...,zipi@jtc-law.co.il,NaN,NaN,NaN,NaN,No,FALSE,Import,NaN,NaN
32393,28/03/2024 0:00,26/05/2024 0:00,26/05/2024 0:00,NaN,11869.0,True,11869,דפנה,יפרח,tcdafna@gmail.com,...,tcdafna@gmail.com,NaN,NaN,NaN,NaN,No,FALSE,Import,NaN,NaN

In [155]:
user_id_to_delete = [44639, 30689, 13156, 14088, 15493, 27571, 18497, 11869]

In [156]:
st_try['userid'] = st_try['userid'].astype(int)
st_try = st_try[~st_try['userid'].isin(user_id_to_delete)]
st_try

,Seat,Cashier,Id,userid,email,identifier
0,"אולם,אולם 4,22,22",idan@nightsapp.com,798372,36997,idan@nightsapp.com,36997
1,"אולם,אולם 4,22,23",idan@nightsapp.com,798373,36997,idan@nightsapp.com,36997
2,"אולם,אולם 4,22,10",idan@nightsapp.com,798363,36997,idan@nightsapp.com,36997
3,"אולם,אולם 4,22,6",idan@nightsapp.com,798362,36997,idan@nightsapp.com,36997
4,"אולם,אולם 4,22,21",idan@nightsapp.com,798371,36997,idan@nightsapp.com,36997
...,...,...,...,...,...,...
789,"אולם,אולם 6,17,4",nimi2270@gmail.com,795822,16082,nimi2270@gmail.com,25185638
790,"אולם,אולם 5,21,9",jon@djacq.com,797220,47039,jon@djacq.com,47039
791,"אולם,אולם 11,19,3",giladfroind@gmail.com,795559,24834,giladfroind@gmail.com,53085387
792,"אולם,אולם 5,21,12",jon@djacq.com,797223,47039,jon@djacq.com,47039
793,"אולם,12 אולם,15,43",liorwinkler@gmail.com,796607,37815,liorwinkler@gmail.com,24466815

In [157]:
st_try.shape

(778, 6)

In [158]:
st_try = st_try.rename(columns={'Id': 'Roboticket ID', 'identifier': 'Owner Identifier', 'userid': 'Owner User ID'})
robo_missing_id = robo_missing_id.drop(columns=['Owner User ID', 'Owner Identifier'])
robo_missing_id = robo_missing_id.merge(st_try[['Owner User ID', 'Roboticket ID', 'Owner Identifier']], on='Roboticket ID',  how='left')


robo_missing_id

,Product ID,Season ID,Asset Name,Roboticket ID,Price,Price Name,Price Area Name,Base Price,From,To,...,Contact,Product,Transaction,Return Asset,Status,Is Season Ticket,Created By,Last Modified By,Owner User ID,Owner Identifier
0,23,23,מנוי לעונת 2023-2024,798373,1250.0,Adult,B,1250.0,NaN,NaN,...,NaN,NaN,3263392,NaN,NaN,True,NaN,NaN,36997.0,36997
1,23,23,מנוי לעונת 2023-2024,798370,1250.0,Adult,B,1250.0,NaN,NaN,...,NaN,NaN,3263389,NaN,NaN,True,NaN,NaN,36997.0,36997
2,23,23,מנוי לעונת 2023-2024,798366,2000.0,Child,B,2000.0,NaN,NaN,...,NaN,NaN,3263385,NaN,NaN,True,NaN,NaN,36997.0,36997
3,23,23,מנוי לעונת 2023-2024,798365,2000.0,VIP,B,2000.0,NaN,NaN,...,NaN,NaN,3263384,NaN,NaN,True,NaN,NaN,36997.0,36997
4,23,23,מנוי לעונת 2023-2024,798364,2000.0,VIP,B,2000.0,NaN,NaN,...,NaN,NaN,3263383,NaN,NaN,True,NaN,NaN,36997.0,36997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828,23,23,מנוי לעונת 2023-2024,796607,850.0,Child,D,850.0,NaN,NaN,...,NaN,NaN,3261059,NaN,NaN,True,NaN,NaN,37815.0,24466815
829,23,23,מנוי לעונת 2023-2024,797223,700.0,Adult,C,700.0,NaN,NaN,...,NaN,NaN,3261675,NaN,NaN,True,NaN,NaN,47039.0,47039
830,23,23,מנוי לעונת 2023-2024,797206,1320.0,Adult,C,1320.0,NaN,NaN,...,NaN,NaN,3261658,NaN,NaN,True,NaN,NaN,35278.0,203082805
831,23,23,מנוי לעונת 2023-2024,795822,700.0,Adult,D,700.0,NaN,NaN,...,NaN,NaN,3260274,NaN,NaN,True,NaN,NaN,16082.0,25185638
832,23,23,מנוי לעונת 2023-2024,797221,1700.0,Adult,C,1700.0,NaN,NaN,...,NaN,NaN,3261673,NaN,NaN,True,NaN,NaN,47039.0,47039

In [159]:
combined = pd.concat([robo_full, robo_missing_id])
combined

,Product ID,Season ID,Asset Name,Roboticket ID,Price,Price Name,Price Area Name,Base Price,From,To,...,Account,Account ID,Contact,Product,Transaction,Return Asset,Status,Is Season Ticket,Created By,Last Modified By
40563,23,23,מנוי לעונת 2023-2024,796410,750.0,VIP,D,750.0,NaN,NaN,...,NaN,001Hu00003AF21GIAT,NaN,NaN,3260862,NaN,NaN,True,NaN,NaN
40564,23,23,מנוי לעונת 2023-2024,796411,750.0,VIP,D,750.0,NaN,NaN,...,NaN,001Hu00003AF3OeIAL,NaN,NaN,3260863,NaN,NaN,True,NaN,NaN
40565,23,23,מנוי לעונת 2023-2024,797692,350.0,VIP,E,350.0,NaN,NaN,...,NaN,NaN,NaN,NaN,3262144,NaN,NaN,True,NaN,NaN
40566,23,23,מנוי לעונת 2023-2024,797691,350.0,Adult,E,350.0,NaN,NaN,...,NaN,001Ps00000NI2kUIAT,NaN,NaN,3262143,NaN,NaN,True,NaN,NaN
40567,23,23,מנוי לעונת 2023-2024,797953,350.0,Adult,E,350.0,NaN,NaN,...,NaN,NaN,NaN,NaN,3262405,NaN,NaN,True,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828,23,23,מנוי לעונת 2023-2024,796607,850.0,Child,D,850.0,NaN,NaN,...,NaN,NaN,NaN,NaN,3261059,NaN,NaN,True,NaN,NaN
829,23,23,מנוי לעונת 2023-2024,797223,700.0,Adult,C,700.0,NaN,NaN,...,NaN,NaN,NaN,NaN,3261675,NaN,NaN,True,NaN,NaN
830,23,23,מנוי לעונת 2023-2024,797206,1320.0,Adult,C,1320.0,NaN,NaN,...,NaN,NaN,NaN,NaN,3261658,NaN,NaN,True,NaN,NaN
831,23,23,מנוי לעונת 2023-2024,795822,700.0,Adult,D,700.0,NaN,NaN,...,NaN,NaN,NaN,NaN,3260274,NaN,NaN,True,NaN,NaN
832,23,23,מנוי לעונת 2023-2024,797221,1700.0,Adult,C,1700.0,NaN,NaN,...,NaN,NaN,NaN,NaN,3261673,NaN,NaN,True,NaN,NaN

## Add Account ID:

In [160]:
sf_accountid = pd.read_excel('report1756195057247.xlsx')
sf_accountid

            Account ID    HJBC ID
0      001Hu000036Rjuh        NaN
1      001Hu000036Rjui        NaN
2      001Hu000036Rjuj        NaN
3      001Hu000036Rjum        NaN
4      001Hu000036Rjuo        NaN
...                ...        ...
52905  001Ps00000xmpvu  1379130.0
52906  001Ps00000xmsNV  1381162.0
52907  001Ps00000xmhqI  1428482.0
52908  001Ps00000xsXg9    25448.0
52909  001Ps00000xsXwH  1433547.0

[52910 rows x 2 columns]

In [161]:
robo_new = robo_missing_id[robo_missing_id['Owner User ID'].notna()]

robo_new = robo_new.drop(columns=['Account ID'])
sf_accountid = sf_accountid.rename(columns={'HJBC ID': 'Owner User ID'})
robo_new = robo_new.merge(sf_accountid, on='Owner User ID', how='left')

robo_new.to_excel('missing_ids_2324_new.xlsx')

In [23]:
# --- Sums instead of counts ---
sf_sums = (
    sf_df.groupby("Asset Name")
         .agg(
             SF_Count=("Asset Name", "size"),
             SF_Price_Sum=("Price", "sum"),
             SF_Prices=("Price", lambda s: sorted(pd.Series(s).dropna().unique()))
         )
         .reset_index()
)

robo_df = robo_df[robo_df['Owner User ID'].notna()]

robo_sums = (
    robo_df.groupby("Asset Name")
           .agg(
               Robo_Count=("Asset Name", "size"),
               Robo_Price_Sum=("Price", "sum"),
               Robo_Prices=("Price", lambda s: sorted(pd.Series(s).dropna().unique()))
           )
           .reset_index()
)

robo_sums = robo_sums[robo_sums["Asset Name"] == "מנוי לעונת 2023-2024"]

# --- Merge ---
compare_sums = (
    robo_sums
    .merge(sf_sums, on="Asset Name", how="outer")
    .fillna({"Robo_Count": 0, "SF_Count": 0, "Robo_Price_Sum": 0, "SF_Price_Sum": 0})
)

# Cast numeric columns
for col in ["Robo_Count", "SF_Count"]:
    compare_sums[col] = compare_sums[col].astype(int)

for col in ["Robo_Price_Sum", "SF_Price_Sum"]:
    compare_sums[col] = compare_sums[col].astype(float)

# Ensure lists are lists (not NaN)
for col in ["Robo_Prices", "SF_Prices"]:
    compare_sums[col] = compare_sums[col].apply(lambda v: v if isinstance(v, list) else [])

compare_sums['Robo_Price_Sum'] = compare_sums['Robo_Price_Sum'].astype(int)
compare_sums['SF_Price_Sum'] = compare_sums['SF_Price_Sum'].astype(int)

# --- Price match check (unique price sets) ---
compare_sums["Price_Match"] = compare_sums.apply(
    lambda r: set(r["Robo_Prices"]) == set(r["SF_Prices"]), axis=1
)

# --- Final order ---
compare_sums = compare_sums[[
    "Asset Name",
    "Robo_Count", "SF_Count",
    "Robo_Price_Sum", "SF_Price_Sum",
    "Price_Match"
]]

compare_sums

,Asset Name,Robo_Count,SF_Count,Robo_Price_Sum,SF_Price_Sum,Price_Match
0,מנוי לעונת 2023-2024,3423,3417,4287620,4280920,True

In [24]:
3423-3417

6

In [4]:
4256-833

3423