In [61]:
import pandas as pd

In [62]:
game_files = [
    'AuthorizedAttendanceReportCsv_Round 2_ Hapoel Tel Aviv .csv',
    'AuthorizedAttendanceReportCsv_Round 4_ Hapoel Holon .csv',
    'AuthorizedAttendanceReportCsv_Round 8_ Hapoel Afula .csv',
    'AuthorizedAttendanceReportCsv_ 专 9_ 驻注 状拽 状 专砖 -驻注  注.csv',
    'AuthorizedAttendanceReportCsv_ 专11_ 驻注 状拽 状 专砖 - 转".csv',
    'AuthorizedAttendanceReportCsv_转 专 住 专 17_ 注  .csv',
    'AuthorizedAttendanceReportCsv_转 专 住 专 18_ 专爪  .csv',
    'AuthorizedAttendanceReportCsv_转 专 住 专 20_ 驻注 驻 .csv',
    'AuthorizedAttendanceReportCsv_专 22_ 爪专 注专 转 .csv',
    'AuthorizedAttendanceReportCsv_专 24_ 驻注 专 砖注 -  .csv',
    'AuthorizedAttendanceReportCsv_专 26_ 注专 住 爪 .csv',
    'AuthorizedAttendanceReportCsv_专注 专 1_   注专 专转  .csv',
    'AuthorizedAttendanceReportCsv_专注 专 3_   注专 专转  .csv',
    'AuthorizedAttendanceReportCsv_爪 专 砖拽 2_ 驻注 转  .csv'
]

columns_needed = [
    'assign using  ID number',
    'Gender', 'Age', 'Email',
    'First name', 'Last name',
    'STRefID',
    'City',
    'Stand', 'Area',
    'Row', 'Number', 'Price area',
    'Price type', 'Price paid', 'Phone No.',
    'Discount rule'
]

dfs = []
for file in game_files:
    df = pd.read_csv(file)
    # Select only the columns you need (ignore missing columns)
    df = df[[col for col in columns_needed if col in df.columns]]
    dfs.append(df)

all_games_df = pd.concat(dfs, ignore_index=True)

# Save to one CSV file
# all_games_df.to_csv('all_games_attendance.csv', index=False)

In [63]:
all_games_df

,assign using ID number,Gender,Age,Email,First name,Last name,STRefID,City,Stand,Area,Row,Number,Price area,Price type,Price paid,Phone No.,Discount rule
0,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,专,专 12,7,329,D,Complementary,0.0,NaN,NaN
1,43552660,Female,42.0,einatth@gmail.com,注转,-,827424.0,驻,,12,15,9,D,Adult,0.0,0544997453,NaN
2,236546305,Unknown,1.0,NaN,注,专,NaN,NaN,专,专 1,8,40,E,Adult,75.0,NaN,NaN
3,43467760,Male,43.0,idomedan@gmail.com,注,,NaN,驻,,1 注,H,23,F,Complementary,0.0,0544997453,NaN
4,215015306,Unknown,20.0,NaN,注,砖,NaN,NaN,,1 注,E,22,F,Adult,100.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80483,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,专,专 1,7,7,E,,65.0,NaN,NaN
80484,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,专,专 1,11,22,E,专,90.0,NaN,NaN
80485,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,专,专 1,7,6,E,专,90.0,NaN,NaN
80486,231426115,Male,51.0,test5@roboticket.help,five,test,NaN,,,9,21,1,Silver Up,VIP,0.0,0500101000,NaN
80487,43467752,Male,34.0,hj@hapoel.co.il,驻注,专砖,NaN,专砖,,1 注,9,8,F,VIP,0.0,0504777032,NaN

In [64]:
all_games_df = all_games_df['STRefID'].notna()

In [65]:
all_games_df['Discount rule'].unique()

KeyError: 'Discount rule'

In [60]:
discount_rules = [
    '232 - ',
    '769 - 转 住',
    '766 - ',
    '768 - 转 ',
    '828 - 转 ',
    '826 - ',
    '762 - 转 ',
    '760 - ',
    '398 - 转 ',
    '199 - 砖专转 ',
    '34 -  住专',
    '265 - 住',
    '232 - '
]

all_games_df = all_games_df[all_games_df['Discount rule'].isin(discount_rules)]

KeyError: 'Discount rule'

In [43]:
all_games_df

,assign using ID number,Gender,Age,Email,First name,Last name,STRefID,City,Stand,Area,Row,Number,Price area,Price type,Price paid,Phone No.,Discount rule
2757,318167921,Male,27.0,guyhavi@gmail.com,,,NaN,专砖,,2,12,9,B,Adult (renew),1240.0,0537550099,232 -
2767,60738424,Male,43.0,hagayr82@gmail.com,,专,NaN,爪专 住,,1 注,9,31,C,Adult (renew),840.0,0507266006,232 -
2781,24600462,Male,55.0,alontzigler@gmail.com,,爪专,NaN,驻专 住,,2,12,5,B,Adult (renew),1395.0,0547057887,265 - 住
2803,27353010,Male,50.0,ipaldor@mail.huji.ac.il,转,驻专,NaN,专砖,,1 注,5,31,C,Adult (renew),840.0,0542110223,232 -
2812,206882912,Male,27.0,yehudaxh@gmail.com,,专住,NaN,专砖,,6,22,43,D,Adult,560.0,0508637714,232 -
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79987,35804556,Male,22.0,kalireem@gmail.com,专,,NaN,专砖,,10,21,15,B,专,157.5,0547342462,768 - 转
80005,213644594,Male,22.0,chaggaivandam@gmail.com,,,NaN,专砖,,8,19,11,B,专,157.5,0548842003,768 - 转
80006,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,,8,19,10,B,专,157.5,NaN,768 - 转
80159,326152410,Male,22.0,dazriel9@gmail.com,,注专,NaN,专砖,专,专 1,6,1,E,专,81.0,0549954567,768 - 转
80461,326384518,Male,21.0,bnaya.hazani@gmail.com,,,NaN,注--专注转,专,专 1,7,21,E,专,81.0,0584084081,768 - 转

In [45]:
all_games_df['Full Name'] = all_games_df['First name'] + ' ' + all_games_df['Last name']

all_gamess_df = all_games_df[['Full Name', 'assign using  ID number', 'Gender','Age', 
                              'Email', 'Phone No.', 'City', 'Stand', 
                              'Area', 'Row', 'Number', 'Price area', 
                              'Price type', 'Price paid', 'Discount rule']]

all_gamess_df

/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_2480/1631024281.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_games_df['Full Name'] = all_games_df['First name'] + ' ' + all_games_df['Last name']

,Full Name,assign using ID number,Gender,Age,Email,Phone No.,City,Stand,Area,Row,Number,Price area,Price type,Price paid,Discount rule
2757,,318167921,Male,27.0,guyhavi@gmail.com,0537550099,专砖,,2,12,9,B,Adult (renew),1240.0,232 -
2767,专,60738424,Male,43.0,hagayr82@gmail.com,0507266006,爪专 住,,1 注,9,31,C,Adult (renew),840.0,232 -
2781,爪专,24600462,Male,55.0,alontzigler@gmail.com,0547057887,驻专 住,,2,12,5,B,Adult (renew),1395.0,265 - 住
2803,转 驻专,27353010,Male,50.0,ipaldor@mail.huji.ac.il,0542110223,专砖,,1 注,5,31,C,Adult (renew),840.0,232 -
2812,专住,206882912,Male,27.0,yehudaxh@gmail.com,0508637714,专砖,,6,22,43,D,Adult,560.0,232 -
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79987,专,35804556,Male,22.0,kalireem@gmail.com,0547342462,专砖,,10,21,15,B,专,157.5,768 - 转
80005,,213644594,Male,22.0,chaggaivandam@gmail.com,0548842003,专砖,,8,19,11,B,专,157.5,768 - 转
80006,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,,8,19,10,B,专,157.5,768 - 转
80159,注专,326152410,Male,22.0,dazriel9@gmail.com,0549954567,专砖,专,专 1,6,1,E,专,81.0,768 - 转
80461,,326384518,Male,21.0,bnaya.hazani@gmail.com,0584084081,注--专注转,专,专 1,7,21,E,专,81.0,768 - 转

In [51]:
all_gamess_df = all_gamess_df.drop_duplicates()
all_gamess_df

,Full Name,assign using ID number,Gender,Age,Email,Phone No.,City,Stand,Area,Row,Number,Price area,Price type,Price paid,Discount rule
2757,,318167921,Male,27.0,guyhavi@gmail.com,0537550099,专砖,,2,12,9,B,Adult (renew),1240.0,232 -
2767,专,60738424,Male,43.0,hagayr82@gmail.com,0507266006,爪专 住,,1 注,9,31,C,Adult (renew),840.0,232 -
2781,爪专,24600462,Male,55.0,alontzigler@gmail.com,0547057887,驻专 住,,2,12,5,B,Adult (renew),1395.0,265 - 住
2803,转 驻专,27353010,Male,50.0,ipaldor@mail.huji.ac.il,0542110223,专砖,,1 注,5,31,C,Adult (renew),840.0,232 -
2812,专住,206882912,Male,27.0,yehudaxh@gmail.com,0508637714,专砖,,6,22,43,D,Adult,560.0,232 -
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79987,专,35804556,Male,22.0,kalireem@gmail.com,0547342462,专砖,,10,21,15,B,专,157.5,768 - 转
80005,,213644594,Male,22.0,chaggaivandam@gmail.com,0548842003,专砖,,8,19,11,B,专,157.5,768 - 转
80006,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,,8,19,10,B,专,157.5,768 - 转
80159,注专,326152410,Male,22.0,dazriel9@gmail.com,0549954567,专砖,专,专 1,6,1,E,专,81.0,768 - 转
80461,,326384518,Male,21.0,bnaya.hazani@gmail.com,0584084081,注--专注转,专,专 1,7,21,E,专,81.0,768 - 转

In [52]:
all_gamess_df.to_excel('all_games_attendance.xlsx', index=False)