In [150]:
import pandas as pd
from datetime import datetime
import numpy as np

In [297]:
home_23_24 = pd.read_excel('23_24_home.xlsx')
home_22_23 = pd.read_excel('22_23_home.xlsx')
home_21_22 = pd.read_excel('21_22_home.xlsx')

users = pd.read_csv('StatisticReport_2024-12-26-4.csv')

In [298]:
games = pd.read_excel('Games_id.xlsx')
teams = pd.read_excel('teams id.xlsx')

### Process ticketing

In [300]:
def ticketing(home_table):
    suite_table = home_table[
        (home_table['price_category'] == 'Suite') | 
        (home_table['price_list'] == '×ª× ×¦×¤×™×”')
    ]
    suite_table = suite_table.drop(
        ['purchaser_client_number', 'sale_date', 'game_hour', 'is_vip', 'is_adult'], 
        axis=1)
    
    suite_table = suite_table.drop_duplicates(subset=['client_number', 'game_id'])
    return suite_table

home_23_24_cleaned = ticketing(home_23_24)
home_22_23_cleaned = ticketing(home_22_23)
home_21_22_cleaned = ticketing(home_21_22)

# combine the results
all_home_cleaned = pd.concat([home_23_24_cleaned, home_22_23_cleaned, home_21_22_cleaned])

### Process the data - merge all users with the home_cleaned data

In [302]:
def process_home_tickets(users, all_home_cleaned):
    users = users.rename(columns={'id': 'client_number'})
    
    home_tickets = pd.merge(all_home_cleaned, users, on='client_number')
    
    columns_to_drop = [
        '[19] Season Ticket 19-20', '[20] Season Ticket 20-21', '[21] Season Ticket 21-22',
        '[22] Season Ticket 22-23', '[23] ×× ×•×™ ×œ×¢×•× ×ª 2023/2024',
        '[62] ×× ×•×™ ×œ×¢×•× ×ª 2024/2025', '[95] ×× ×•×™ ×—× ×™×” 2024-25', 'price_list', 'price',
        '[128] ×× ×•×™ ×”×¡×¢×•×ª - ××—×•×¥ ×œ×—×•××•×ª', 'Active vouchers', 'Account active', 'User group','opponent_id', 'competition_id'
    ]
    
    home_tickets = home_tickets.drop(columns=columns_to_drop, errors='ignore')
    
    home_tickets = home_tickets.drop_duplicates(subset=['client_number', 'game_id'])
    
    # filter rows where 'seat_id' starts with 3
    home_tickets = home_tickets[home_tickets['seat_id'].astype(str).str.startswith('3')]
    home_tickets = home_tickets.reset_index(drop=True)
    
    return home_tickets

processed_tickets = process_home_tickets(users, all_home_cleaned)

In [303]:
members = pd.merge(processed_tickets,games, on='game_id', how='left')
members = pd.merge(members, teams, left_on='opponent_id', right_on = 'team_id', how='left')

members['game_date'] = members['game_date_x'].combine_first(members['game_date_y'])

members['season_id'] = members['season_id_x'].combine_first(members['season_id_y'])

members['Event name'] = members.loc[members['Event name'].isna() & members['game_id'].notna(), 'Event name'] = (
'×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ' + members['display_name'])

members = members.drop(['team_name', 'team_city', 'game_importance', 'datetime',
                        'game_date_x', 'game_date_y', 'season_id_x', 'season_id_y', 'game_time'], axis=1)

In [304]:
members

,client_number,transaction_number,price_category,seat_id,game_id,Identifierâ€,First name,Last name,Email,Phone No.,opponent_id,venue_id,competition_id,team_id,display_name,game_date,season_id,Event name
0,18007,961351,Suite,30701001,115,18007,×™×•×¡×™,××—×œ×§×ª ×”× ×•×¢×¨,NaN,0526506105,2,1,1,2,×”×¤×•×¢×œ ×‘××¨ ×©×‘×¢,2024-01-01 00:00:00,23,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×‘××¨ ×©×‘×¢
1,37941,961444,Suite,30501001,115,37941,××¤× ××ª,×”×¨×©×•×ª ×œ×¤×™×ª×•×—,NaN,0505070343,2,1,1,2,×”×¤×•×¢×œ ×‘××¨ ×©×‘×¢,2024-01-01 00:00:00,23,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×‘××¨ ×©×‘×¢
2,18007,964720,Suite,30801001,116,18007,×™×•×¡×™,××—×œ×§×ª ×”× ×•×¢×¨,NaN,0526506105,25,1,1,25,×”×¤×•×¢×œ ×—×™×¤×”,2024-05-01 00:00:00,23,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×—×™×¤×”
3,37462,964825,Suite,30701001,116,37462,××™×™×œ,×ª×•×¨×’'××Ÿ,NaN,0506233879,25,1,1,25,×”×¤×•×¢×œ ×—×™×¤×”,2024-05-01 00:00:00,23,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×—×™×¤×”
4,37941,964812,Suite,30501001,116,37941,××¤× ××ª,×”×¨×©×•×ª ×œ×¤×™×ª×•×—,NaN,0505070343,25,1,1,25,×”×¤×•×¢×œ ×—×™×¤×”,2024-05-01 00:00:00,23,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×—×™×¤×”
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,37941,862843,Suite,30301001,47,37941,××¤× ××ª,×”×¨×©×•×ª ×œ×¤×™×ª×•×—,NaN,0505070343,19,1,1,19,×”×¤×•×¢×œ ×—×•×œ×•×Ÿ,2022-06-02 00:00:00,21,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×—×•×œ×•×Ÿ
620,11654,840927,Suite,30801001,30,11654,×“×™×™×•×™×“,×‘×¡×Ÿ,David.j.bassan@gmail.com,0525558702,23,1,1,23,×‘× ×™ ×”×¨×¦×œ×™×”,2022-03-07 00:00:00,21,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×‘× ×™ ×”×¨×¦×œ×™×”
621,23998,840965,Suite,30802012,30,23998,×™×©×¨,×œ×—×™×™×œ,Moshe@yasharlachayal.org,0587220288,23,1,1,23,×‘× ×™ ×”×¨×¦×œ×™×”,2022-03-07 00:00:00,21,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×‘× ×™ ×”×¨×¦×œ×™×”
622,27706,845889,Suite,30402011,36,27706,××™×¦×™×§,×¢×•×–×¨,itzikoz@hotmail.com,0505070343,27,1,1,27,×”×¤×•×¢×œ ×’×œ×™×œ ×¢×œ×™×•×Ÿ,2022-04-11 00:00:00,21,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×’×œ×™×œ ×¢×œ×™×•×Ÿ
623,23998,854344,Suite,30802015,41,23998,×™×©×¨,×œ×—×™×™×œ,Moshe@yasharlachayal.org,0587220288,15,1,1,15,×”×¤×•×¢×œ ×’×œ×‘×•×¢ ×’×œ×™×œ,2022-05-12 00:00:00,21,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×’×œ×‘×•×¢ ×’×œ×™×œ

### Process member

In [332]:
output_23_24 = pd.read_excel('23_24output.xlsx')
output_22_23 = pd.read_excel('22_23output.xlsx')
output_21_22 = pd.read_excel('21_22output.xlsx')

In [333]:
def membership(member_table):
    member_suite_table = member_table[member_table['price_category'] == 'Suite']
    member_suite_table = member_suite_table.drop(
        ['price','notes', 
         'is_vip', 'is_adult' ,'purchaser_client_number'], 
        axis=1)
    
    member_suite_table = member_suite_table.drop_duplicates(subset=['client_number'])
    return member_suite_table

output_23_24_cleaned = membership(output_23_24)
output_22_23_cleaned = membership(output_22_23)
output_21_22_cleaned = membership(output_21_22)

# combine the results
all_membership_cleaned = pd.concat([output_23_24_cleaned, output_22_23_cleaned, output_21_22_cleaned])

### Process the data - merge all users with the home_cleaned data

In [407]:
def process_membership_users(users, all_membership_cleaned):
    users = users.rename(columns={'id': 'client_number'})
    
    member_tickets = pd.merge(all_membership_cleaned, users, on='client_number')

    columns_to_drop = [
        '[19] Season Ticket 19-20', '[20] Season Ticket 20-21', '[21] Season Ticket 21-22',
        '[22] Season Ticket 22-23', '[23] ×× ×•×™ ×œ×¢×•× ×ª 2023/2024',
        '[62] ×× ×•×™ ×œ×¢×•× ×ª 2024/2025', '[95] ×× ×•×™ ×—× ×™×” 2024-25', 'price_list', 'price',
        '[128] ×× ×•×™ ×”×¡×¢×•×ª - ××—×•×¥ ×œ×—×•××•×ª', 'Active vouchers', 'Account active', 'User group'
    ]
    
    member_tickets = member_tickets.drop(columns=columns_to_drop, errors='ignore')
    member_tickets = member_tickets.drop_duplicates(subset=['client_number'])
    member_tickets = member_tickets.reset_index(drop=True)
    
    return member_tickets

process_membership = process_membership_users(users, all_membership_cleaned)

In [429]:
process_membership_subset = process_membership[process_membership.columns]
process_membership_subset

,season_id,client_number,seat_id,price_category,sale_date,Identifierâ€,First name,Last name,Email,Phone No.,Event name
0,23,14848,30601001,Suite,2023-12-28,520020421,×¢×•×‘×“×™×,×™×”×‘,avraamb@yahav.co.il,0506532173,nan
1,23,47403,30401001,Suite,2023-12-13,47403,RTMI,RTMI,Liat@rtmi.co.il,0523867330,nan
2,23,16935,30301001,Suite,2023-08-01,16935,××•×‘×™×œ××™×™,××•×‘×™×œ××™×™,Avital.edry@mobileye.com,0544522660,nan
3,23,37941,30501001,Suite,2023-08-01,37941,××¤× ××ª,×”×¨×©×•×ª ×œ×¤×™×ª×•×—,NaN,0505070343,nan
4,23,18007,30801001,Suite,2023-08-01,18007,×™×•×¡×™,××—×œ×§×ª ×”× ×•×¢×¨,NaN,0526506105,nan
5,21,16914,30601001,Suite,2021-10-04,16914,×× ×”×œ×™×,×™×”×‘,iritb@yahav.co.il,0507646029,nan

In [431]:
suites = pd.concat([members, process_membership_subset], ignore_index=True)
suites

,client_number,transaction_number,price_category,seat_id,game_id,Identifierâ€,First name,Last name,Email,Phone No.,opponent_id,venue_id,competition_id,team_id,display_name,game_date,season_id,Event name,sale_date
0,18007,961351.0,Suite,30701001,115.0,18007,×™×•×¡×™,××—×œ×§×ª ×”× ×•×¢×¨,NaN,0526506105,2.0,1.0,1.0,2.0,×”×¤×•×¢×œ ×‘××¨ ×©×‘×¢,2024-01-01 00:00:00,23,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×‘××¨ ×©×‘×¢,NaT
1,37941,961444.0,Suite,30501001,115.0,37941,××¤× ××ª,×”×¨×©×•×ª ×œ×¤×™×ª×•×—,NaN,0505070343,2.0,1.0,1.0,2.0,×”×¤×•×¢×œ ×‘××¨ ×©×‘×¢,2024-01-01 00:00:00,23,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×‘××¨ ×©×‘×¢,NaT
2,18007,964720.0,Suite,30801001,116.0,18007,×™×•×¡×™,××—×œ×§×ª ×”× ×•×¢×¨,NaN,0526506105,25.0,1.0,1.0,25.0,×”×¤×•×¢×œ ×—×™×¤×”,2024-05-01 00:00:00,23,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×—×™×¤×”,NaT
3,37462,964825.0,Suite,30701001,116.0,37462,××™×™×œ,×ª×•×¨×’'××Ÿ,NaN,0506233879,25.0,1.0,1.0,25.0,×”×¤×•×¢×œ ×—×™×¤×”,2024-05-01 00:00:00,23,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×—×™×¤×”,NaT
4,37941,964812.0,Suite,30501001,116.0,37941,××¤× ××ª,×”×¨×©×•×ª ×œ×¤×™×ª×•×—,NaN,0505070343,25.0,1.0,1.0,25.0,×”×¤×•×¢×œ ×—×™×¤×”,2024-05-01 00:00:00,23,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×—×™×¤×”,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,47403,NaN,Suite,30401001,NaN,47403,RTMI,RTMI,Liat@rtmi.co.il,0523867330,NaN,NaN,NaN,NaN,NaN,NaN,23,nan,2023-12-13
626,16935,NaN,Suite,30301001,NaN,16935,××•×‘×™×œ××™×™,××•×‘×™×œ××™×™,Avital.edry@mobileye.com,0544522660,NaN,NaN,NaN,NaN,NaN,NaN,23,nan,2023-08-01
627,37941,NaN,Suite,30501001,NaN,37941,××¤× ××ª,×”×¨×©×•×ª ×œ×¤×™×ª×•×—,NaN,0505070343,NaN,NaN,NaN,NaN,NaN,NaN,23,nan,2023-08-01
628,18007,NaN,Suite,30801001,NaN,18007,×™×•×¡×™,××—×œ×§×ª ×”× ×•×¢×¨,NaN,0526506105,NaN,NaN,NaN,NaN,NaN,NaN,23,nan,2023-08-01
629,16914,NaN,Suite,30601001,NaN,16914,×× ×”×œ×™×,×™×”×‘,iritb@yahav.co.il,0507646029,NaN,NaN,NaN,NaN,NaN,NaN,21,nan,2021-10-04

In [433]:
suites['Event name'].value_counts()

Event name
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ××›×‘×™ ×ª×œ ××‘×™×‘          236
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×ª×œ ××‘×™×‘         128
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×××§ ××ª×•× ×”              70
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×—×•×œ×•×Ÿ            51
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×‘× ×™ ×”×¨×¦×œ×™×”             21
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×’×œ×™×œ ×¢×œ×™×•×Ÿ       18
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ××™×œ×ª             12
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×—×™×¤×”             11
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×¢×™×¨×•× ×™ × ×¡ ×¦×™×•× ×”        10
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×¢×™×¨×•× ×™ ×§×¨×™×™×ª ××ª×        9
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×’×œ×‘×•×¢ ×’×œ×™×œ        9
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×‘××¨ ×©×‘×¢           8
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×‘××§×Ÿ ×‘×¨×¡                7
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×“×¨×•×©×¤××§×”                6
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×œ×•×“×•×•×™×’×¡×‘×•×¨×’            6
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×“×™×–×•×Ÿ ×‘××¡×§×˜             6
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×©×˜×¨×¡×‘×•×¨×’                6
nan                                       6
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ××›×‘×™ ×¢×™×¨×•× ×™ ×¨××ª ×’×Ÿ      4
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×¢×¤×•×œ×”             4
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ××•×¡×˜×¨×•×‘                 2
Name: count, dtype: int64

### Games this season

In [435]:
game1 = pd.read_csv('AuthorizedAttendanceReportCsv_ğŸ  ××—×–×•×¨ 9_ ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -×”×¤×•×¢×œ ×’×œ×™×œ ×¢×œ×™×•×Ÿ.csv')
game2 = pd.read_csv('AuthorizedAttendanceReportCsv_ğŸ  ××—×–×•×¨11_ ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -××›×‘×™ ×ª"×.csv')
game3 = pd.read_csv('AuthorizedAttendanceReportCsv_Round 2_ Hapoel Tel Aviv ğŸš—.csv')
game4 = pd.read_csv('AuthorizedAttendanceReportCsv_Round 3_ Ironi Kiryat Ata (Malcha) ğŸ .csv')
game5 = pd.read_csv('AuthorizedAttendanceReportCsv_Round 4_ Hapoel Holon ğŸ .csv')
game6 = pd.read_csv('AuthorizedAttendanceReportCsv_Round 8_ Hapoel Afula ğŸ .csv')
game7 = pd.read_csv('AuthorizedAttendanceReportCsv_×©×œ×‘ ×”×‘×ª×™× ××©×—×§ 1_ ×¢×™×¨×•× ×™ × ×¡ ×¦×™×•× ×”.csv')

In [441]:
def ticketing24_25(home_table24_25):    
    suite_table24_25 = home_table24_25[home_table24_25['Price area'] == '×ª× ×¦×¤×™×”']

    suite_table24_25 = suite_table24_25.drop(
        ['Transaction owner first name.1', 'Transaction owner last name.1',
       'Transaction owner email.1', 'Transaction owner phone number.1',
       'Hospitality - feature', 'Hospitality - voucher name',
       'Hospitality - voucher batch name', 'Hospitality - voucher code used', 'Event Id',
       'Hospitality - role', 'Hospitality - payment method', 'Age', 'Type', 'School', 'Gender',
        'Transaction owner first name', 'Additional phone number',
           'Transaction owner last name', 'Transaction owner email',
           'Transaction owner address', 'Transaction owner zip code',
           'Transaction owner phone number', 'Feature',
           'CloseLink reservation name', 'CloseLink code', 'Name',
           'Voucher batch name', 'Discount price', 'Used voucher code',
           'Member card status', 'Transaction with member card status', 'Role',
           'User group', 'Payment method', 'Ticket note', 'Season tickets',
           'Discount rule', 'Discount user id', 'Discount user email',
           'Attendance', 'Attendance date', 'Hospitality ticket identifier',
           'Hospitality product', 'Hospitality ticket number',
           'Hospitality barcode text', 'Hospitality user identifier',
           'Hospitality identifier', 'Hospitality - first name',
           'Hospitality - last name', 'Hospitality - platform', 'Transaction identifier',
           'Hospitality - sector', 'Hospitality - table', 'Hospitality - number',
           'Hospitality - entrance code', 'Hospitality - entrance text',
           'Hospitality - transaction Id', 'Hospitality - transaction date',
           'Hospitality - price type', 'Hospitality - price paid', 'Entrance code',
           'EntranceCode2', 'Entrance text', 'Street', 'Barcode', 'Price type',
             'TransactionOwnerPhonePrefix', 'Id', 'Stand',
           'HospPhonePrefix', 'Product', 'STRefID', 'OwnerSTUserId', 'OwnerSTName',
           'Subtype', 'Reservations identifiers', 'TicketBank reservation identifier', 'Ticket number', 'Card number',
           'MifareUID', 'Card member Id', 'User Id', 'Delivery type', 'Row', 'Number',
           'House number', 'Apartment number', 'City', 'Country', 'Zip code',
           'Hospitality - email', 'Hospitality - phone number', 'Price paid'], 
        axis=1)

    
    suite_table24_25 = suite_table24_25.drop_duplicates(subset=['assign using  ID number'])
    return suite_table24_25

game1_cleaned = ticketing24_25(game1)
game2_cleaned = ticketing24_25(game2)
game3_cleaned = ticketing24_25(game3)
game4_cleaned = ticketing24_25(game4)
game5_cleaned = ticketing24_25(game5)
game6_cleaned = ticketing24_25(game6)
game7_cleaned = ticketing24_25(game7)

# combine the results
all_home24_25_cleaned = pd.concat([game1_cleaned, game2_cleaned, game3_cleaned, game4_cleaned, game5_cleaned, game6_cleaned, game7_cleaned])

In [447]:
all_home24_25_cleaned.shape[0]

36

In [449]:
all_home24_25_cleaned

,assign using ID number,First name,Last name,Email,Event name,Area,Price area,Transaction date,Phone No.
12,023851058,×“×™×–× ×”××•×–,×“×™×–× ×”××•×–,sigi.cohen@diesenhaus.co.il,ğŸ ××—×–×•×¨ 9: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -×”×¤×•×¢×œ ×’×œ×™×œ...,×ª× ×¦×¤×™×” 3,×ª× ×¦×¤×™×”,2024-12-02 10:10:48,0505688475
47,37462,××™×™×œ,×ª×•×¨×’'××Ÿ,NaN,ğŸ ××—×–×•×¨ 9: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -×”×¤×•×¢×œ ×’×œ×™×œ...,×ª× ×¦×¤×™×” 4,×ª× ×¦×¤×™×”,2024-12-06 14:42:04,0506233879
109,029006194,×™×•× ×™,×—×™,yoni.h@inz.org.il,ğŸ ××—×–×•×¨ 9: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -×”×¤×•×¢×œ ×’×œ×™×œ...,×ª× ×¦×¤×™×” 5,×ª× ×¦×¤×™×”,2024-12-02 13:08:09,0522678222
171,520020421,×¢×•×‘×“×™×,×™×”×‘,avraamb@yahav.co.il,ğŸ ××—×–×•×¨ 9: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -×”×¤×•×¢×œ ×’×œ×™×œ...,×ª× ×¦×¤×™×” 6,×ª× ×¦×¤×™×”,2024-12-02 10:10:48,0506532173
1758,052821683,××•×“×™,×‘×Ÿ ××‘×•,modi@ariel.org.il,ğŸ ××—×–×•×¨ 9: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -×”×¤×•×¢×œ ×’×œ×™×œ...,×ª× ×¦×¤×™×” 16,×ª× ×¦×¤×™×”,2024-12-05 09:56:07,0509221140
840,520042540,×× ×•×¨×”,××‘×˜×—×™×,GALMO@MENORAMIVT.CO.IL,"ğŸ ××—×–×•×¨11: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -××›×‘×™ ×ª×""",×ª× ×¦×¤×™×” 7,×ª× ×¦×¤×™×”,2024-12-11 15:52:44,NaN
1144,520020421,×¢×•×‘×“×™×,×™×”×‘,avraamb@yahav.co.il,"ğŸ ××—×–×•×¨11: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -××›×‘×™ ×ª×""",×ª× ×¦×¤×™×” 6,×ª× ×¦×¤×™×”,2024-12-12 10:31:40,0506532173
1160,023851058,×“×™×–× ×”××•×–,×“×™×–× ×”××•×–,sigi.cohen@diesenhaus.co.il,"ğŸ ××—×–×•×¨11: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -××›×‘×™ ×ª×""",×ª× ×¦×¤×™×” 3,×ª× ×¦×¤×™×”,2024-12-12 10:31:40,0505688475
1598,37462,××™×™×œ,×ª×•×¨×’'××Ÿ,NaN,"ğŸ ××—×–×•×¨11: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -××›×‘×™ ×ª×""",×ª× ×¦×¤×™×” 1,×ª× ×¦×¤×™×”,2024-12-16 10:10:10,0506233879
2398,23998,×™×©×¨,×œ×—×™×™×œ,Moshe@yasharlachayal.org,"ğŸ ××—×–×•×¨11: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -××›×‘×™ ×ª×""",×ª× ×¦×¤×™×” 2,×ª× ×¦×¤×™×”,2024-12-18 15:27:51,0587220288
2416,47438,Yovel,Zoosman,yovelz@walla.co.il,"ğŸ ××—×–×•×¨11: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -××›×‘×™ ×ª×""",×ª× ×¦×¤×™×” 11,×ª× ×¦×¤×™×”,2024-12-18 15:25:02,0502228951
2419,42585,Khadeen,Carrington,deencarrington@gmail.com,"ğŸ ××—×–×•×¨11: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -××›×‘×™ ×ª×""",×ª× ×¦×¤×™×” 11,×ª× ×¦×¤×™×”,2024-12-18 15:25:35,NaN
2420,yarinyarin1010@gmail.com,Yarin,Hasson,yarinyarin1010@gmail.com,"ğŸ ××—×–×•×¨11: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -××›×‘×™ ×ª×""",×ª× ×¦×¤×™×” 11,×ª× ×¦×¤×™×”,2024-12-18 15:27:05,NaN
2431,209706456,××ª×Ÿ,××“×œ×¡×•×Ÿ,mcohen@adfam.com,"ğŸ ××—×–×•×¨11: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -××›×‘×™ ×ª×""",×ª× ×¦×¤×™×” 4,×ª× ×¦×¤×™×”,2024-12-18 15:50:39,NaN
2612,Austin.wiley50@gmail.com,Austin,Wiley,Austin.wiley50@gmail.com,"ğŸ ××—×–×•×¨11: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -××›×‘×™ ×ª×""",×ª× ×¦×¤×™×” 11,×ª× ×¦×¤×™×”,2024-12-19 12:27:50,NaN
2643,Jared.harper11@gmail.com,Jared,Harper,Jared.harper11@gmail.com,"ğŸ ××—×–×•×¨11: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -××›×‘×™ ×ª×""",×ª× ×¦×¤×™×” 11,×ª× ×¦×¤×™×”,2024-12-19 14:15:51,NaN
2675,×•×™×–×”_×›××œ,×•×™×–×”,×›××œ,david1231232@gmail.com,"ğŸ ××—×–×•×¨11: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -××›×‘×™ ×ª×""",×ª× ×¦×¤×™×” 5,×ª× ×¦×¤×™×”,2024-12-19 15:32:48,0506458089
3365,Triggerderek3@gmail.com,Derek,Ogbeide,Triggerderek3@gmail.com,"ğŸ ××—×–×•×¨11: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -××›×‘×™ ×ª×""",×ª× ×¦×¤×™×” 11,×ª× ×¦×¤×™×”,2024-12-22 10:32:07,â¦+1 (404) 953-0136â©
3543,14850,×—×‘×¨×ª,××¨×™××œ,michal.h@ariel.org.il,"ğŸ ××—×–×•×¨11: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -××›×‘×™ ×ª×""",×ª× ×¦×¤×™×” 13,×ª× ×¦×¤×™×”,2024-12-22 13:00:14,026297982
4474,052821683,××•×“×™,×‘×Ÿ ××‘×•,modi@ariel.org.il,"ğŸ ××—×–×•×¨11: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -××›×‘×™ ×ª×""",×ª× ×¦×¤×™×” 16,×ª× ×¦×¤×™×”,2024-12-05 09:56:07,0509221140
89,NaN,NaN,NaN,NaN,Round 2: Hapoel Tel Aviv ğŸš—,×ª× ×¦×¤×™×” 5,×ª× ×¦×¤×™×”,2024-10-08 11:00:54,NaN
165,37462,××™×™×œ,×ª×•×¨×’'××Ÿ,NaN,Round 2: Hapoel Tel Aviv ğŸš—,×ª× ×¦×¤×™×” 4,×ª× ×¦×¤×™×”,2024-10-08 16:03:52,0506233879
508,14597,×©×¢×¨×™,×¦×“×§,daniss641@gmail.com,Round 2: Hapoel Tel Aviv ğŸš—,×ª× ×¦×¤×™×” 2,×ª× ×¦×¤×™×”,2024-10-10 11:39:24,0508685110
685,23998,×™×©×¨,×œ×—×™×™×œ,Moshe@yasharlachayal.org,Round 2: Hapoel Tel Aviv ğŸš—,×ª× ×¦×¤×™×” 10,×ª× ×¦×¤×™×”,2024-10-10 16:02:32,0587220288
718,209706456,××ª×Ÿ,××“×œ×¡×•×Ÿ,mcohen@adfam.com,Round 2: Hapoel Tel Aviv ğŸš—,×ª× ×¦×¤×™×” 3,×ª× ×¦×¤×™×”,2024-10-10 16:18:51,NaN
755,520020421,×¢×•×‘×“×™×,×™×”×‘,avraamb@yahav.co.il,Round 2: Hapoel Tel Aviv ğŸš—,×ª× ×¦×¤×™×” 6,×ª× ×¦×¤×™×”,2024-10-10 16:52:58,0506532173
806,028649879,×’×™×“×™,×©×˜×™×™×Ÿ- ×™×§×‘×™ ×™×¨×•×©×œ×™×™×,gidi@jerusalemwineries.co.il,Round 2: Hapoel Tel Aviv ğŸš—,×ª× ×¦×¤×™×” 12,×ª× ×¦×¤×™×”,2024-10-10 17:13:15,0544583880
1153,43467760,×¢×“×•,××™×“×Ÿ ×“×•×“,idomedan@gmail.com,Round 2: Hapoel Tel Aviv ğŸš—,×ª× ×¦×¤×™×” 8,×ª× ×¦×¤×™×”,2024-10-12 22:44:56,0544997453
1385,34042,×¢×™×“×•,××©×”,NaN,Round 2: Hapoel Tel Aviv ğŸš—,×ª× ×¦×¤×™×” 9,×ª× ×¦×¤×™×”,2024-10-13 10:49:33,0545333210
177,520042540,×× ×•×¨×”,××‘×˜×—×™×,GALMO@MENORAMIVT.CO.IL,Round 4: Hapoel Holon ğŸ,×ª× ×¦×¤×™×” 5,×ª× ×¦×¤×™×”,2024-10-15 14:55:30,NaN
254,520020421,×¢×•×‘×“×™×,×™×”×‘,avraamb@yahav.co.il,Round 4: Hapoel Holon ğŸ,×ª× ×¦×¤×™×” 6,×ª× ×¦×¤×™×”,2024-10-21 09:46:01,0506532173
573,37462,××™×™×œ,×ª×•×¨×’'××Ÿ,NaN,Round 4: Hapoel Holon ğŸ,×ª× ×¦×¤×™×” 4,×ª× ×¦×¤×™×”,2024-10-22 16:06:11,0506233879
234,520020421,×¢×•×‘×“×™×,×™×”×‘,avraamb@yahav.co.il,Round 8: Hapoel Afula ğŸ,×ª× ×¦×¤×™×” 6,×ª× ×¦×¤×™×”,2024-11-04 09:43:59,0506532173
317,023851058,×“×™×–× ×”××•×–,×“×™×–× ×”××•×–,sigi.cohen@diesenhaus.co.il,Round 8: Hapoel Afula ğŸ,×ª× ×¦×¤×™×” 3,×ª× ×¦×¤×™×”,2024-11-11 11:57:20,0505688475
586,052821683,××•×“×™,×‘×Ÿ ××‘×•,modi@ariel.org.il,Round 8: Hapoel Afula ğŸ,×ª× ×¦×¤×™×” 2,×ª× ×¦×¤×™×”,2024-11-13 10:22:49,0509221140
697,40404816,×™×•×¡×™,×–×¢×¤×¨× ×™,yz0545943222@gmail.com,Round 8: Hapoel Afula ğŸ,×ª× ×¦×¤×™×” 1,×ª× ×¦×¤×™×”,2024-11-13 16:11:37,0526506105

### Combine all tables together

In [505]:
all_24_25 = all_home24_25_cleaned[all_home24_25_cleaned.columns]
all = pd.concat([suites, all_24_25], ignore_index=True)
all

,client_number,transaction_number,price_category,seat_id,game_id,Identifierâ€,First name,Last name,Email,Phone No.,...,team_id,display_name,game_date,season_id,Event name,sale_date,assign using ID number,Area,Price area,Transaction date
0,18007.0,961351.0,Suite,30701001.0,115.0,18007,×™×•×¡×™,××—×œ×§×ª ×”× ×•×¢×¨,NaN,0526506105,...,2.0,×”×¤×•×¢×œ ×‘××¨ ×©×‘×¢,2024-01-01 00:00:00,23.0,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×‘××¨ ×©×‘×¢,NaT,NaN,NaN,NaN,NaN
1,37941.0,961444.0,Suite,30501001.0,115.0,37941,××¤× ××ª,×”×¨×©×•×ª ×œ×¤×™×ª×•×—,NaN,0505070343,...,2.0,×”×¤×•×¢×œ ×‘××¨ ×©×‘×¢,2024-01-01 00:00:00,23.0,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×‘××¨ ×©×‘×¢,NaT,NaN,NaN,NaN,NaN
2,18007.0,964720.0,Suite,30801001.0,116.0,18007,×™×•×¡×™,××—×œ×§×ª ×”× ×•×¢×¨,NaN,0526506105,...,25.0,×”×¤×•×¢×œ ×—×™×¤×”,2024-05-01 00:00:00,23.0,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×—×™×¤×”,NaT,NaN,NaN,NaN,NaN
3,37462.0,964825.0,Suite,30701001.0,116.0,37462,××™×™×œ,×ª×•×¨×’'××Ÿ,NaN,0506233879,...,25.0,×”×¤×•×¢×œ ×—×™×¤×”,2024-05-01 00:00:00,23.0,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×—×™×¤×”,NaT,NaN,NaN,NaN,NaN
4,37941.0,964812.0,Suite,30501001.0,116.0,37941,××¤× ××ª,×”×¨×©×•×ª ×œ×¤×™×ª×•×—,NaN,0505070343,...,25.0,×”×¤×•×¢×œ ×—×™×¤×”,2024-05-01 00:00:00,23.0,×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×—×™×¤×”,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661,NaN,NaN,NaN,NaN,NaN,NaN,××™×™×œ,×ª×•×¨×’'××Ÿ,NaN,0506233879,...,NaN,NaN,NaN,NaN,Round 4: Hapoel Holon ğŸ,NaT,37462,×ª× ×¦×¤×™×” 4,×ª× ×¦×¤×™×”,2024-10-22 16:06:11
662,NaN,NaN,NaN,NaN,NaN,NaN,×¢×•×‘×“×™×,×™×”×‘,avraamb@yahav.co.il,0506532173,...,NaN,NaN,NaN,NaN,Round 8: Hapoel Afula ğŸ,NaT,520020421,×ª× ×¦×¤×™×” 6,×ª× ×¦×¤×™×”,2024-11-04 09:43:59
663,NaN,NaN,NaN,NaN,NaN,NaN,×“×™×–× ×”××•×–,×“×™×–× ×”××•×–,sigi.cohen@diesenhaus.co.il,0505688475,...,NaN,NaN,NaN,NaN,Round 8: Hapoel Afula ğŸ,NaT,023851058,×ª× ×¦×¤×™×” 3,×ª× ×¦×¤×™×”,2024-11-11 11:57:20
664,NaN,NaN,NaN,NaN,NaN,NaN,××•×“×™,×‘×Ÿ ××‘×•,modi@ariel.org.il,0509221140,...,NaN,NaN,NaN,NaN,Round 8: Hapoel Afula ğŸ,NaT,052821683,×ª× ×¦×¤×™×” 2,×ª× ×¦×¤×™×”,2024-11-13 10:22:49
665,NaN,NaN,NaN,NaN,NaN,NaN,×™×•×¡×™,×–×¢×¤×¨× ×™,yz0545943222@gmail.com,0526506105,...,NaN,NaN,NaN,NaN,Round 8: Hapoel Afula ğŸ,NaT,40404816,×ª× ×¦×¤×™×” 1,×ª× ×¦×¤×™×”,2024-11-13 16:11:37

In [507]:
all['Identifierâ€'] = all['Identifierâ€'].combine_first(all['assign using  ID number'])
all = all.drop('assign using  ID number', axis=1)

In [509]:
all.columns

Index(['client_number', 'transaction_number', 'price_category', 'seat_id',
       'game_id', 'Identifierâ€', 'First name', 'Last name', 'Email',
       'Phone No.', 'opponent_id', 'venue_id', 'competition_id', 'team_id',
       'display_name', 'game_date', 'season_id', 'Event name', 'sale_date',
       'Area', 'Price area', 'Transaction date'],
      dtype='object')

### Combine the games and teams

In [522]:
def process(all):
    all['season_id'] = all['season_id'].astype(str)
    
    all['Transaction date'] = pd.to_datetime(all['Transaction date'], errors='coerce')
    all['Transaction year'] = all['Transaction date'].dt.year.astype(str) 
    
    all.loc[all['season_id'] == 'nan', 'season_id'] = all['Transaction year'].str[-2:]  
    
    all['sale_date'] = pd.to_datetime(all['sale_date'], errors='coerce')
    all['Sale year'] = all['sale_date'].dt.year.astype(str)  # Extract year as string
    all.loc[all['season_id'] == 'nan', 'season_id'] = all['Sale year'].str[-2:]
    
    if 'game_date' in all.columns:
        all['game_date'] = all['game_date'].astype(str)  
        all.loc[all['season_id'] == 'nan', 'season_id'] = all['game_date'].str[-2:]
    
    all['season_id'] = pd.to_numeric(all['season_id'], errors='coerce').fillna(0).astype(int)
    
    return all

merged_df = process(all)

In [524]:
merged_df['season_id'].value_counts()

season_id
22    360
23    246
24     36
21     24
Name: count, dtype: int64

In [526]:
def fill_area(row):
    if pd.isna(row['Area']):  
        seat_id = str(row['seat_id']).zfill(8)  # Ensure it's at least 8 characters
        booth_number = seat_id[1:3]  # Extract the 2nd and 3rd digits
        return f"×ª× ×¦×¤×™×” {int(booth_number)}" 
    return row['Area']

def clean_seat_id(value):
    if pd.isna(value) or value == '':
        return 0  # Replace empty or NaN with 0
    try:
        return int(str(value).split('.')[0])  # Remove decimal part and convert to int
    except ValueError:
        return 0  # Handle unexpected values gracefully

merged_df['seat_id'] = merged_df['seat_id'].apply(clean_seat_id)

# Apply the fill_area function
merged_df['Area'] = merged_df.apply(fill_area, axis=1)

In [530]:
merged_df['Area'].value_counts()

Area
×ª× ×¦×¤×™×” 21    346
×ª× ×¦×¤×™×” 3      49
×ª× ×¦×¤×™×” 5      46
×ª× ×¦×¤×™×” 7      42
×ª× ×¦×¤×™×” 8      39
×ª× ×¦×¤×™×” 4      36
×ª× ×¦×¤×™×” 2      29
×ª× ×¦×¤×™×” 1      17
×ª× ×¦×¤×™×” 11     17
×ª× ×¦×¤×™×” 6      13
×ª× ×¦×¤×™×” 10     11
×ª× ×¦×¤×™×” 13      7
×ª× ×¦×¤×™×” 12      6
×ª× ×¦×¤×™×” 9       3
×ª× ×¦×¤×™×” 14      2
×ª× ×¦×¤×™×” 16      2
×ª× ×¦×¤×™×” 15      1
Name: count, dtype: int64

In [534]:
merged_df['Event name'].value_counts()

Event name
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ××›×‘×™ ×ª×œ ××‘×™×‘                          236
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×ª×œ ××‘×™×‘                         128
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×××§ ××ª×•× ×”                              70
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×—×•×œ×•×Ÿ                            51
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×‘× ×™ ×”×¨×¦×œ×™×”                             21
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×’×œ×™×œ ×¢×œ×™×•×Ÿ                       18
ğŸ  ××—×–×•×¨11: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -××›×‘×™ ×ª×"             15
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ××™×œ×ª                             12
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×—×™×¤×”                             11
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×¢×™×¨×•× ×™ × ×¡ ×¦×™×•× ×”                        10
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×¢×™×¨×•× ×™ ×§×¨×™×™×ª ××ª×                        9
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×’×œ×‘×•×¢ ×’×œ×™×œ                        9
Round 2: Hapoel Tel Aviv ğŸš—                                9
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×‘××¨ ×©×‘×¢                           8
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×‘××§×Ÿ ×‘×¨×¡                                7
nan                                                       6
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×©×˜×¨×¡×‘×•×¨×’                                6
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×“×¨×•×©×¤××§×”                                6
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×“×™×–×•×Ÿ ×‘××¡×§×˜                             6
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×œ×•×“×•×•×™×’×¡×‘×•×¨×’                            6
ğŸ  ××—×–×•×¨ 9: ×”×¤×•×¢×œ ×´×‘× ×§ ×™×”×‘×´ ×™×¨×•×©×œ×™× -×”×¤×•×¢×œ ×’×œ×™×œ ×¢×œ×™×•×Ÿ      5
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ××›×‘×™ ×¢×™×¨×•× ×™ ×¨××ª ×’×Ÿ                      4
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ×”×¤×•×¢×œ ×¢×¤×•×œ×”                             4
Round 8: Hapoel Afula ğŸ                                    4
Round 4: Hapoel Holon ğŸ                                    3
×”×¤×•×¢×œ ×™×¨×•×©×œ×™× × ×’×“ ××•×¡×˜×¨×•×‘                                 2
Name: count, dtype: int64

In [538]:
merged_df.to_csv('combined_data2.csv', index=False)