In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
game_files = [
    'AuthorizedAttendanceReportCsv_Round 2_ Hapoel Tel Aviv .csv',
    'AuthorizedAttendanceReportCsv_Round 4_ Hapoel Holon .csv',
    'AuthorizedAttendanceReportCsv_Round 8_ Hapoel Afula .csv',
    'AuthorizedAttendanceReportCsv_ 专 9_ 驻注 状拽 状 专砖 -驻注  注.csv',
    'AuthorizedAttendanceReportCsv_ 专11_ 驻注 状拽 状 专砖 - 转".csv',
    'AuthorizedAttendanceReportCsv_转 专 住 专 17_ 注  .csv',
    'AuthorizedAttendanceReportCsv_转 专 住 专 18_ 专爪  .csv',
    'AuthorizedAttendanceReportCsv_转 专 住 专 20_ 驻注 驻 .csv',
    'AuthorizedAttendanceReportCsv_专 22_ 爪专 注专 转 .csv',
    'AuthorizedAttendanceReportCsv_专 24_ 驻注 专 砖注 -  .csv'
]

summary_list = []
raw_data_list = [] 

for file in game_files:
    game_df = pd.read_csv(file)
    game_df['Full Name'] = game_df['First name'] + " " + game_df['Last name']

    # Add Event Name
    event_name = file.split('Csv_')[1].replace('.csv', '')
    game_df['Event Name'] = event_name

    # Store unfiltered raw data
    raw_data_list.append(game_df.copy())

    # Filter only single ticket purchases
    game_df = game_df[(game_df['STRefID'].isna()) & (game_df['Type'] == 'Ticket')]

    # Use Voucher or CloseLink
    game_df['Name'] = np.where(
        game_df['Voucher name'].notna(),
        game_df['Voucher name'],
        game_df['CloseLink reservation name']
    )

    game_df['Type'] = np.where(
        game_df['Voucher name'].notna(),
        'Voucher',
        'CloseLink'
    )

    # Drop NA group names
    game_df = game_df.dropna(subset=['Name'])

    # Group by
    grouped = game_df.groupby(['Name']).size().reset_index(name='Count')
    grouped['Event Name'] = event_name

    grouped = grouped.merge(
        game_df[['Type', 'Name']].drop_duplicates(subset='Name'),
        on='Name',
        how='left'
    )

    summary_list.append(grouped)


working_games = pd.concat(summary_list, ignore_index=True)
working_games = working_games[['Event Name', 'Name', 'Type', 'Count']].sort_values(by=['Event Name', 'Name'])
working_games.to_excel('working_games.xlsx')

all_raw_data = pd.concat(raw_data_list, ignore_index=True)

working_games

,Event Name,Name,Type,Count
0,Round 2_ Hapoel Tel Aviv,-50%t,Voucher,7
1,Round 2_ Hapoel Tel Aviv,-50t,Voucher,4
2,Round 2_ Hapoel Tel Aviv,00,Voucher,2
3,Round 2_ Hapoel Tel Aviv,lovehaphat,Voucher,9
4,Round 2_ Hapoel Tel Aviv,住 拽驻 专 驻注 1,Voucher,2
...,...,...,...,...
38,"专11_ 驻注 状拽 状 专砖 - 转""",HAPOELFAM2212,Voucher,1
39,"专11_ 驻注 状拽 状 专砖 - 转""",驻注 专砖,CloseLink,4
40,"专11_ 驻注 状拽 状 专砖 - 转""",住 拽驻 专 驻注 1,Voucher,2
41,"专11_ 驻注 状拽 状 专砖 - 转""",驻住 拽专,Voucher,1
42,"专11_ 驻注 状拽 状 专砖 - 转""",爪转,CloseLink,23

### Same table with names and id of the people who used it:

In [32]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import pandas as pd
import numpy as np
import re

def normalize_name(name):
    if pd.isna(name):
        return name
    name = str(name)
    name = name.replace("'", "")  # remove apostrophes
    name = name.replace('"', "")  # remove double quotes
    name = name.replace('砖', '砖')  # fix missing 
    name = re.sub(r'\b\s+', '', name)  # remove '' if it's at beginning of a word
    name = re.sub(r'\s+', ' ', name)  # normalize multiple spaces
    name = name.strip()  # remove leading/trailing spaces
    return name


summary_list = []
raw_data_list = [] 

for file in game_files:
    game_df = pd.read_csv(file)
    game_df['Full Name'] = game_df['First name'] + " " + game_df['Last name']

    # Add Event Name
    event_name = file.split('Csv_')[1].replace('.csv', '')
    game_df['Event Name'] = event_name

    # Store unfiltered raw data
    raw_data_list.append(game_df.copy())

    # Filter only single ticket purchases
    game_df = game_df[(game_df['STRefID'].isna()) & (game_df['Type'] == 'Ticket')]

    # Use Voucher or CloseLink
    game_df['Name'] = np.where(
        game_df['Voucher name'].notna(),
        game_df['Voucher name'],
        game_df['CloseLink reservation name']
    )

    game_df['Type'] = np.where(
        game_df['Voucher name'].notna(),
        'Voucher',
        'CloseLink'
    )

    # Drop NA group names
    game_df = game_df.dropna(subset=['Name'])

    # Instead of grouping: just select columns
    selected = game_df[['Event Name', 'Name', 'Full Name', 'assign using  ID number', 'Type']].copy()

    selected['Count'] = 1  # each row = 1 ticket/person

    summary_list.append(selected)

working_games_with_ids = pd.concat(summary_list, ignore_index=True)

# Drop bad rows
working_games_with_ids = working_games_with_ids.dropna(subset=['assign using  ID number'])
working_games_with_ids = working_games_with_ids[
    working_games_with_ids['assign using  ID number'].astype(str).str.len() > 2
]
working_games_with_ids = working_games_with_ids.drop_duplicates()

# Normalize names
working_games_with_ids['Name_normalized'] = working_games_with_ids['Name'].apply(normalize_name)

# Fuzzy match similar names
unique_names = working_games_with_ids['Name_normalized'].unique()
name_mapping = {}

for name in unique_names:
    if name not in name_mapping:
        matches = process.extract(name, unique_names, scorer=fuzz.token_sort_ratio)
        for match_name, score in matches:
            if score > 90:  # adjust threshold if needed
                name_mapping[match_name] = name

# Apply mapping
working_games_with_ids['Name_normalized'] = working_games_with_ids['Name_normalized'].map(name_mapping).fillna(working_games_with_ids['Name_normalized'])

# Replace Name column
working_games_with_ids['Name'] = working_games_with_ids['Name_normalized']
working_games_with_ids = working_games_with_ids.drop(columns=['Name_normalized'])

# Final sorting
working_games_with_ids = working_games_with_ids.sort_values(by=['Event Name', 'Name'])

# Export to Excel
working_games_with_ids.to_excel('working_games_with_ids.xlsx', index=False)

working_games_with_ids

,Event Name,Name,Full Name,assign using ID number,Type,Count
8,Round 2_ Hapoel Tel Aviv,-50%t,拽 拽祝,027124510,Voucher,1
11,Round 2_ Hapoel Tel Aviv,-50%t,砖,GILBASH@GMAIL.COM,Voucher,1
13,Round 2_ Hapoel Tel Aviv,-50%t,住住,28327,Voucher,1
4,Round 2_ Hapoel Tel Aviv,-50t,专 专,11206,Voucher,1
2,Round 2_ Hapoel Tel Aviv,00,ELAD KASIR,217991017,Voucher,1
...,...,...,...,...,...,...
930,"专11_ 驻注 状拽 状 专砖 - 转""",爪转,注 砖,326612280,CloseLink,1
931,"专11_ 驻注 状拽 状 专砖 - 转""",爪转,转 转专壮,324187095,CloseLink,1
932,"专11_ 驻注 状拽 状 专砖 - 转""",爪转,转 注,216009829,CloseLink,1
949,"专11_ 驻注 状拽 状 专砖 - 转""",爪转,,306930702,CloseLink,1
950,"专11_ 驻注 状拽 状 专砖 - 转""",爪转,转注专,214160111,CloseLink,1

In [34]:
working_games_with_ids['Name'].unique()

array(['-50%t', '-50t', '00', 'lovehaphat', '住 拽驻 专 驻注 1',
       'Complementary game tickets', '驻注  拽 抓 26.10',
       '砖 砖', '转 ', '转 住驻专 转 专', '转 住驻专 转',
       '驻注 专砖 专注祝', '专住 -50% ', '注爪 专转 注 ',
       '.', '拽祝 ', '住 拽', 'Credit', '转 住驻专 专',
       ' 53', '驻注 专 注', '专住 拽 抓 注 ',
       ' 住', '专 拽转 ', '注转转 注', '砖 ',
       '转 驻专', 'Resale', 'early0203', 'hjfamilyfriends',
       '住 专砖', '拽专住 专专 拽', '转 砖专转', '-10%T', 'NCSY',
       '转 转', '注 住 - 拽砖专 ', '注转转 砖 ',
       '-30%', '转  专转 专', '转 住驻专 ',
       '驻注 专 砖注 ', ' 住', '驻专 砖', '专住 专 B',
       '专住 专', '拽转 注专 - 专 专', ' 拽转 专 ',
       'Early0712', '转 住驻专 专', '砖驻转 砖',
       '拽爪 专转 -  注', '-170', '100%DIS', '100%T', '210FIX',
       '240T', 'EARLY2212', 'HAPOELFAM2212', '驻注  专砖',
       '驻住 拽专', '爪转 '], dtype=object)

### All row data:

In [8]:
columns_to_keep = [
    'Event Id', 'assign using  ID number', 'First name', 'Last name', 'School', 'Gender', 'Age', 'Email', 'Id', 'Type', 'Event Name',
    'Additional phone number', 'Product', 'STRefID', 'OwnerSTUserId', 'OwnerSTName', 'Subtype Ticket number', 'Barcode', 'Card number',
    'User Id', 'Street', 'House number City', 'Country', 'Zip code', 'Stand', 'Area', 'Row', 'Number', 'Price area', 'Entrance code',
    'Entrance text', 'Transaction identifier', 'Transaction date', 'Delivery type', 'Price type', 'Price paid', 'Phone No.',
    'Transaction owner first name', 'Transaction owner last name', 'Transaction owner email', 'CloseLink reservation name',
    'CloseLink code', 'Voucher name', 'Voucher batch name', 'Discount price', 'Role', 'User group', 'Payment method', 'Ticket note',
    'Season tickets', 'Custom field 1 UserIdentityVerified', 'Attendance', 'Attendance date'
]

# Keep only columns that actually exist in the final DataFrame
existing_columns = [col for col in columns_to_keep if col in all_raw_data.columns]
all_raw_data = all_raw_data[existing_columns]

all_raw_data.to_excel('all_raw_data.xlsx')

all_raw_data

,Event Id,assign using ID number,First name,Last name,School,Gender,Age,Email,Id,Type,...,Voucher name,Voucher batch name,Discount price,Role,User group,Payment method,Ticket note,Season tickets,Attendance,Attendance date
0,1694,NaN,NaN,NaN,NaN,Unknown,NaN,NaN,3045986,Ticket,...,NaN,NaN,No discount,Administrator,NaN,Cash,NaN,NaN,No,No data
1,1694,43552660,注转,-,NaN,Female,42.0,einatth@gmail.com,3046265,Ticket,...,NaN,NaN,No discount,Fan,NaN,Other,NaN,NaN,No,No data
2,1694,236546305,注,专,NaN,Unknown,1.0,NaN,3050463,Ticket,...,NaN,NaN,No discount,Administrator,NaN,Pelecard_Credit Card,NaN,NaN,No,No data
3,1694,43467760,注,,NaN,Male,43.0,idomedan@gmail.com,3053065,Ticket,...,NaN,NaN,No discount,Administrator,"驻专, 住专, , Hapoel Test gr...",Cash,NaN,NaN,No,No data
4,1694,215015306,注,砖,NaN,Unknown,20.0,NaN,3053295,Ticket,...,NaN,NaN,No discount,Fan,NaN,Pelecard_Credit Card,NaN,NaN,Yes,2024-10-13 20:05:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55545,3674,301124319,驻专,专,NaN,Male,37.0,kfirhoren@gmail.com,804094,SeasonTicket,...,NaN,NaN,No discount,Fan,NaN,Pelecard_Credit Card,NaN,NaN,Yes,2025-04-11 13:52:26
55546,3674,66107699,,驻专专,NaN,Male,43.0,yoni.fuehrer@gmail.com,873893,SeasonTicket,...,finalstretchHJBC,finalstretchHJBC,-50%,Administrator,NaN,Pelecard_Credit Card,NaN,NaN,No,No data
55547,3674,327202628,,专,NaN,Male,83.0,alan@adlers.pro,851807,SeasonTicket,...,NaN,NaN,No discount,Administrator,驻专,External Payment Subscriptions,NaN,NaN,Yes,2025-04-11 13:20:18
55548,3674,022693915,专,砖专,NaN,Male,16.0,ori.shomer@gmail.com,872595,SeasonTicket,...,finalstretchHJBC,finalstretchHJBC,-50%,Fan,NaN,Pelecard_Credit Card,NaN,NaN,Yes,2025-04-11 13:02:24
55549,3674,218642767,转专,住,NaN,Male,15.0,itamarlustig777@gmail.com,873740,SeasonTicket,...,砖拽 拽转 注专,砖拽 拽转 注专,-350,Administrator,砖拽 拽转 注专,Cash,NaN,NaN,No,No data