In [3]:
import pandas as pd
import numpy as np
from datetime import date, timedelta

## Creation of the report:

### NO NEED TO READ THE USERS FILE & ST_2425 AGAIN!

In [4]:
# Load the users report Excel file
users = pd.read_excel('Users report-2025-07-02-02-14-55.xlsx')

# Drop the first 13 rows (probably header or metadata rows)
users = users.drop(index=range(0, 13))

# Remove duplicates based on "ID"
users = users.drop_duplicates(subset=["ID"])

# Remove duplicates based on "HJBC ID"
users = users.drop_duplicates(subset=["HJBC ID"])

# Convert "Marketing Allowed" from numeric to Boolean
users["Marketing Allowed"] = users["Marketing Allowed"].map({
    1.0: True,
    0.0: False
})

# Drop any rows where "ID" is missing
users = users.dropna(subset=["ID"])

# Keep only relevant columns
users = users[[
    'Account Name',
    'ID',
    'HJBC ID',
    'Phone',
    'Email',
    'Created Date',
    'Marketing Allowed',
]]

### Users who have price = 0 and we can call them & users who used vouchers:

In [ ]:
st_2425 = pd.read_csv('List_Report_20250609080140.csv')

def prepare_cleaned_season_data(
    st_csv_path: str,
    vouchers_csv_path: str,
    vouchers_to_exclude: list,
    max_user_rows: int = 10
) -> pd.DataFrame:
    """
    Load, clean, and merge season ticket data with voucher usage, applying specific filters per product and type.
    """

    # Load CSVs
    st = pd.read_csv(st_csv_path)
    vouchers = pd.read_csv(vouchers_csv_path)

    # Convert price columns to numeric
    st["Price"] = pd.to_numeric(st["Price"], errors="coerce").astype("Int64")
    st["Base price"] = pd.to_numeric(st["Base price"], errors="coerce").astype("Int64")

    # --------------------
    # Identify conditions for removing duplicate Sales
    # --------------------
    active_sale = (st["Status"] == "Active") & (st["Type"] == "Sale")
    canceled_not_sale = (st["Status"] == "Canceled") & (st["Type"] != "Sale")

    users_with_both = set(st[active_sale]["User Id"]) & set(st[canceled_not_sale]["User Id"])

    # Remove Active Sales for those users
    st_filtered = st[~(active_sale & st["User Id"].isin(users_with_both))].reset_index(drop=True)

    # Remove duplicates
    st_filtered = st_filtered.drop_duplicates()

    # Prepare vouchers DataFrame
    vouchers = vouchers[["Voucher number", "User first name", "User last name", "Package name"]]

    # Merge vouchers
    st_filtered = st_filtered.merge(
        vouchers,
        on="Voucher number",
        how="left"
    )

    # Keep only rows where Voucher number is missing
    st_filtered = st_filtered[st_filtered["Voucher number"].isna()]

    # Normalize text for comparison
    st_filtered["Status"] = st_filtered["Status"].str.lower()
    st_filtered["Type"] = st_filtered["Type"].str.lower()

    # Remove duplicate rows for the same "Fan / Company"
    same_fan = st_filtered["Fan / Company"] == st_filtered["Fan / Company"].shift(1)
    not_canceled = st_filtered["Status"] != "canceled"
    is_sale = st_filtered["Type"] == "sale"

    to_drop = same_fan & not_canceled & is_sale
    st_filtered = st_filtered[~to_drop].reset_index(drop=True)

    # Remove specific voucher codes
    st_filtered = st_filtered[~st_filtered["Voucher number"].isin(vouchers_to_exclude)]

    # --------------------
    # Product-based filtering
    # --------------------
    # For 2024/2025
    mask_2425 = (
        (st["Product"] == " 注转 2024/2025") &
        (
            (st["Status"] == "Active") |
            ((st["Status"] == "Canceled") & (st["Type"] == "SeatChange")) |
            (st["Type"].isin(["SeasonTicketExchange", "Return", "Sale"]))
        )
    )

    # For 2025/2026
    mask_2526 = (
        (st["Product"] == " 注转 2025/2026") &
        (st["Type"] != "Return")
    )

    # For other products
    mask_other = ~st["Product"].isin([" 注转 2024/2025", " 注转 2025/2026"])

    # Combine masks
    keep_rows = mask_2425 | mask_2526 | mask_other

    st = st[keep_rows].reset_index(drop=True)

    # --------------------
    # Define st_active again after filtering
    # --------------------
    st_active = st[
        (st["Status"] == "Active") |
        ((st["Status"] == "Canceled") & (st["Type"] == "SeatChange")) |
        (st["Type"].isin(["SeasonTicketExchange", "Return", "Sale"]))
    ]

    # Merge filtered info back onto Active
    df = st_active.merge(st_filtered, on="User Id", how="left")

    # Limit users with too many rows
    df = df[df["User Id"].map(df["User Id"].value_counts()) < max_user_rows]

    # Drop duplicates
    df = df.drop_duplicates(subset="User Id")

    return df

In [6]:
vouchers_to_exclude = [
    "irit1", "Dawi1", "FIXST", "irit2", "iheartdudu", "Testa1",
    "aharoniST2", "Ngordon1", "MDST2", "FIXST3",
    "Karol1", "Testa2", "dudu1", "Ngordon2", "Dawi2"
]

df = prepare_cleaned_season_data(
    st_csv_path="List_Report_20250609080140.csv",
    vouchers_csv_path="VoucherUseReport_2025-07-03.csv",
    vouchers_to_exclude=vouchers_to_exclude
)

In [7]:
def combine_x_y_columns(df, drop_original=False):
    merged_cols = [col for col in df.columns if col.endswith('_x')]
    for merged_col in merged_cols:
        base = merged_col.rsplit('_', 1)[0]
        ongoing_col = base + '_y'
        if ongoing_col in df.columns:
            df[base] = df[merged_col].combine_first(df[ongoing_col])
            if drop_original:
                df.drop(columns=[merged_col, ongoing_col], inplace=True)
    return df

df = combine_x_y_columns(df, drop_original=True)
df

/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_57159/1004390178.py:7: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df[base] = df[merged_col].combine_first(df[ongoing_col])
/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_57159/1004390178.py:7: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df[base] = df[merged_col].combine_first(df[ongoing_col])
/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_57159/1004390178.py:7: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df[base] = df[merged_col].combine_first(df[ongoing_col])
/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_57159/1004390178.py:7: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df[base] = df[merged_col].combine_first(df[ongoing_col])

,User Id,User first name,User last name,Package name,Product Id,Product,Status,Id,Fan / Company,assign using ID number,...,Payment type,Payment method,Delivery type,Ticket Note,Transaction Note,Role,ReturnRequestStatus,Voucher number,Voucher value,Unnamed: 51
0,1373314,NaN,NaN,NaN,62,注转 2024/2025,Active,878881,砖拽,339557373,...,Cash,Cash,Online ticket,NaN,NaN,Administrator,NaN,Youthd,NaN,NaN
1,41088,NaN,NaN,NaN,62,注转 2024/2025,Active,878880,砖拽,336909007,...,Cash,Cash,Online ticket,NaN,NaN,Administrator,NaN,Youthd,NaN,NaN
4954,1420313,NaN,NaN,NaN,62,注转 2024/2025,Active,877429,驻专专住 拽,999820962,...,Cash,Cash,Virtual Card,NaN,NaN,Administrator,NaN,1412313/6507,NaN,NaN
4955,1420297,NaN,NaN,NaN,62,注转 2024/2025,Active,877428,,319030359,...,Cash,Cash,Virtual Card,NaN,NaN,Administrator,NaN,1410795/9430,NaN,NaN
128756,1331180,NaN,NaN,NaN,62,注转 2024/2025,Active,876077,住 专,056629033,...,Cash,Cash,Virtual Card,NaN,NaN,Administrator,NaN,1412313/6507,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34651635,1330719,NaN,NaN,NaN,62,注转 2024/2025,Canceled,801858,Testing ROBO,336008404,...,Pelecard_PayType_Pelecard_Credit Card,Pelecard_Credit Card,Virtual Card,NaN,NaN,User,NaN,1409087/9782,NaN,NaN
34654113,1330686,NaN,NaN,NaN,62,注转 2024/2025,Active,801760,Test ROBO,324100221,...,Pelecard_PayType_Pelecard_Credit Card,Pelecard_Credit Card,Virtual Card,NaN,NaN,User,NaN,1409089/7532,NaN,NaN
34654114,1330653,NaN,NaN,NaN,62,注转 2024/2025,Canceled,801727,Test twelve,221443211,...,Pelecard_PayType_Pelecard_Credit Card,Pelecard_Credit Card,Virtual Card,NaN,NaN,User,NaN,1409087/9782,NaN,NaN
34654116,1330620,NaN,NaN,NaN,62,注转 2024/2025,Canceled,801660,eleven test,229580105,...,Pelecard_PayType_Pelecard_Credit Card,Pelecard_Credit Card,Virtual Card,NaN,NaN,User,NaN,1409080/5266,NaN,NaN
34656594,1330587,专,302506571,0,62,注转 2024/2025,Active,801629,five test,231426115,...,Pelecard_PayType_Pelecard_Credit Card,Pelecard_Credit Card,Virtual Card,NaN,NaN,User,NaN,NaN,NaN,NaN

In [8]:
#  Exclude rows with specific OldPriceType values
values_to_drop = ["拽转 注专", "Community", "注住拽", "拽转 注专 \\"]
df = df[~df['Ticket price types'].isin(values_to_drop)]

#  Keep relevant columns
df = df[[
    'Product', 'Fan / Company', 'User Id',
    'assign using  ID number', 'Email', 'Phone',
    'Base price', 'Price', 'Price area', 'Type'
]]

#  Convert IDs to numeric
users["ID"] = pd.to_numeric(users["ID"], errors="coerce")
df['assign using  ID number'] = pd.to_numeric(df['assign using  ID number'], errors="coerce").astype("Int64")
df["User Id"] = pd.to_numeric(df["User Id"], errors="coerce").astype("Int64")
users['HJBC ID'] = pd.to_numeric(users['HJBC ID'], errors="coerce").astype("Int64")

#  Merge users and df
base_df = users.merge(
    df,
    left_on="HJBC ID",
    right_on="User Id",
    how="left"
)

#  Combine columns only within base_df
base_df["Fan / Company"] = base_df["Fan / Company"].combine_first(base_df["Account Name"])
base_df["User Id"] = base_df["User Id"].combine_first(base_df["HJBC ID"])
base_df["assign using  ID number"] = base_df["assign using  ID number"].combine_first(base_df["ID"])
base_df["Phone"] = base_df["Phone_x"].combine_first(base_df["Phone_y"])
base_df["Email"] = base_df["Email_x"].combine_first(base_df["Email_y"])

# Drop old columns
base_df = base_df.drop(columns=[
    "HJBC ID", "ID", "Phone_x", "Phone_y", "Email_x", "Email_y"
])

base_df

,Account Name,Created Date,Marketing Allowed,Product,Fan / Company,User Id,assign using ID number,Base price,Price,Price area,Type,Phone,Email
0,砖 拽爪专,5/7/2024,False,注转 2024/2025,砖 拽爪专,10010,40175192.0,1550,1550,B,Sale,0502877926,katzirs30@gmail.com
1,砖 拽专,5/7/2024,True,注转 2024/2025,砖 拽专,10011,94938.0,3300,3300,Silver Up,Sale,0544755212,rachel@kotler-adika.co.il
2,转 住,5/7/2024,True,NaN,转 住,10528,38818340.0,<NA>,<NA>,NaN,NaN,0524567167,yonie84@gmail.com
3,专 专,5/7/2024,False,注转 2024/2025,专 专,10529,59723486.0,2100,2100,A,Sale,0528523030,48ronen@gmail.com
4,注 驻专,5/7/2024,False,注转 2024/2025,注 驻专,10536,33486960.0,1050,1050,C,Sale,(050) 894-6047,paldor1@gmail.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22564,,7/1/2025,False,NaN,,1430149,209490556.0,<NA>,<NA>,NaN,NaN,NaN,NaN
22565,砖驻,7/1/2025,False,NaN,砖驻,11085,11085.0,<NA>,<NA>,NaN,NaN,0507874290,NaN
22566,注专 拽专,7/1/2025,False,NaN,注专 拽专,31779,205417157.0,<NA>,<NA>,NaN,NaN,0523142105,omerkarni24@gmail.com
22567,驻专 专砖,7/1/2025,False,NaN,驻专 专砖,13542,13542.0,<NA>,<NA>,NaN,NaN,0526966877,NaN
22568,砖专 砖专,7/2/2025,False,NaN,砖专 砖专,12121,12121.0,<NA>,<NA>,NaN,NaN,0547245676,NaN

In [9]:
#  Load renewal report
renewal = pd.read_csv('SeasonTicketRenewReport_2025-07-02.csv').drop_duplicates(subset="User")
renewal['User'] = pd.to_numeric(renewal['User'], errors="coerce").astype("Int64")

#  Merge renewal info ON IDs
merged = base_df.merge(
    renewal,
    left_on="assign using  ID number",
    right_on="User",
    how="left"
)

# Combine phone and email within merged DataFrame only
merged["Phone"] = merged["Phone_x"].combine_first(merged["Phone_y"])
merged["Email"] = merged["Email_x"].combine_first(merged["Email_y"])

#  Seat builders
def clean_number(x):
    if pd.isna(x):
        return ''
    if isinstance(x, float) and x.is_integer():
        return str(int(x))
    return str(x)

def build_old_seat(row):
    if pd.isna(row['OldSector']) or pd.isna(row['OldRow']) or pd.isna(row['OldNumber']):
        return None
    return (
        str(row['OldSector']) +
        " 砖专 " +
        clean_number(row['OldRow']) +
        " 住 " +
        clean_number(row['OldNumber'])
    )

def build_renew_seat(row):
    if pd.isna(row['RenewSector']) or pd.isna(row['RenewRow']) or pd.isna(row['RenewNumber']):
        return None
    return (
        str(row['RenewSector']) +
        " 砖专 " +
        clean_number(row['RenewRow']) +
        " 住 " +
        clean_number(row['RenewNumber'])
    )

merged['Old Seat'] = merged.apply(build_old_seat, axis=1)
merged['Renew Seat'] = merged.apply(build_renew_seat, axis=1)

#  Renew flags
merged['RenewSeasonTicket'] = np.where(
    merged['RenewSeasonTicket'].isna(),
    False,
    True
)

merged.loc[merged['RenewSeasonTicket'] == 'TRUE', 'Status'] = '砖'

#  Create Full Name
merged['Full Name'] = merged['First name'] + ' ' + merged['Last name']
merged["TZ"] = merged["assign using  ID number"].combine_first(merged["User"])

merged["OldSector"] = merged["OldSector"].astype(str).str.strip()

#  Filter sectors
mask = merged["OldSector"].str.contains('专|驻专拽', na=False)

# Filter them out
merged = merged[~mask]

# Keep only the columns you want
columns_to_keep = [
    'Product',
    'Account Name',
    'Full Name',
    'User Id',
    'TZ',
    'Email',
    'School',
    'Phone',
    'OldSeasonTicketId',
    'Old Season Ticket (All Owners)',
    'Base price',
    'Price',
    'Old Seat',
    'Price area',
    'OldTransactionDate',
    'RenewSeasonTicketId',
    'RenewSeasonTicket',
    'Renew Seat',
    'RenewTransactionDate',
    'RenewType',
    'Marketing Allowed'
    ]
merged = merged[columns_to_keep]

merged

/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_57159/222711993.py:6: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  merged = base_df.merge(

,Product,Account Name,Full Name,User Id,TZ,Email,School,Phone,OldSeasonTicketId,Old Season Ticket (All Owners),...,Price,Old Seat,Price area,OldTransactionDate,RenewSeasonTicketId,RenewSeasonTicket,Renew Seat,RenewTransactionDate,RenewType,Marketing Allowed
0,注转 2024/2025,砖 拽爪专,砖 拽爪专,10010,40175192.0,katzirs30@gmail.com,NaN,0502877926,859905.0,注转 2024/2025,...,1550,2 砖专 19 住 13,B,2024-12-05 14:43:58,899548.0,True,2 砖专 19 住 13,2025-06-10 09:35:20,SameSeat,False
1,注转 2024/2025,砖 拽专,砖 拽专,10011,94938.0,rachel@kotler-adika.co.il,NaN,0544755212,849584.0,注转 2024/2025,...,3300,9 砖专 18 住 10,Silver Up,2024-10-10 15:27:23,NaN,False,None,NaN,Empty,True
2,NaN,转 住,转 住,10528,38818340.0,yonie84@gmail.com,NaN,0524567167,820053.0,注转 2024/2025,...,<NA>,10 砖专 15 住 12,NaN,2024-07-21 20:09:08,NaN,False,None,NaN,Empty,True
3,注转 2024/2025,专 专,专 专,10529,59723486.0,48ronen@gmail.com,NaN,0528523030,805315.0,注转 2024/2025,...,2100,10 砖专 6 住 1,A,2024-09-03 20:43:06,897504.0,True,10 砖专 6 住 1,2025-06-08 17:30:53,SameSeat,False
4,注转 2024/2025,注 驻专,注 驻专,10536,33486960.0,paldor1@gmail.com,NaN,(050) 894-6047,813774.0,注转 2024/2025,...,1050,1C 砖专 4 住 30,C,2024-08-09 16:29:40,881084.0,True,1C 砖专 4 住 30,2025-06-05 11:58:44,SameSeat,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22750,NaN,,NaN,1430149,209490556.0,NaN,NaN,NaN,NaN,NaN,...,<NA>,None,NaN,NaN,NaN,False,None,NaN,NaN,False
22751,NaN,砖驻,NaN,11085,11085.0,NaN,NaN,0507874290,NaN,NaN,...,<NA>,None,NaN,NaN,NaN,False,None,NaN,NaN,False
22752,NaN,注专 拽专,NaN,31779,205417157.0,omerkarni24@gmail.com,NaN,0523142105,NaN,NaN,...,<NA>,None,NaN,NaN,NaN,False,None,NaN,NaN,False
22753,NaN,驻专 专砖,NaN,13542,13542.0,NaN,NaN,0526966877,NaN,NaN,...,<NA>,None,NaN,NaN,NaN,False,None,NaN,NaN,False
22754,NaN,砖专 砖专,NaN,12121,12121.0,NaN,NaN,0547245676,NaN,NaN,...,<NA>,None,NaN,NaN,NaN,False,None,NaN,NaN,False

In [10]:
#  Load ongoing status Excel
ongoing = pd.read_excel('住专 拽驻  2025_26.xlsx', sheet_name='砖')
merged['User Id'] = pd.to_numeric(merged['User Id'], errors="coerce").astype("Int64")
ongoing['User Id'] = pd.to_numeric(ongoing['User Id'], errors="coerce").astype("Int64")

#  Merge merged dataset with ongoing status
final_df = merged.merge(
    ongoing,
    on="User Id",
    how="left",
    suffixes=("_merged", "_ongoing")
)

assert len(final_df) == len(merged), "Row count changed!"

#  Combine merged/ongoing columns safely within merged DataFrame
def combine_merged_ongoing_columns(df, drop_original=False):
    merged_cols = [col for col in df.columns if col.endswith('_merged')]
    for merged_col in merged_cols:
        base = merged_col.rsplit('_', 1)[0]
        ongoing_col = base + '_ongoing'
        if ongoing_col in df.columns:
            df[base] = df[merged_col].combine_first(df[ongoing_col])
            if drop_original:
                df.drop(columns=[merged_col, ongoing_col], inplace=True)
    return df

final_df = combine_merged_ongoing_columns(final_df, drop_original=True)

#  Fill Full Name if missing
final_df["Full Name"] = final_df["Full Name"].combine_first(final_df["Account Name"])

#  Remove duplicates
final_df = final_df.drop_duplicates(subset="User Id")

final_df

/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_57159/4005132042.py:23: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df[base] = df[merged_col].combine_first(df[ongoing_col])

,Product,Account Name,User Id,School,Old Seat,Price area,RenewSeasonTicketId,RenewSeasonTicket,Renew Seat,RenewTransactionDate,...,Full Name,TZ,Email,Phone,OldSeasonTicketId,Old Season Ticket (All Owners),Base price,Price,OldTransactionDate,Marketing Allowed
0,注转 2024/2025,砖 拽爪专,10010,NaN,2 砖专 19 住 13,B,899548.0,True,2 砖专 19 住 13,2025-06-10 09:35:20,...,砖 拽爪专,40175192.0,katzirs30@gmail.com,0502877926,859905.0,注转 2024/2025,1550.0,1550.0,2024-12-05 14:43:58,False
1,注转 2024/2025,砖 拽专,10011,NaN,9 砖专 18 住 10,Silver Up,NaN,False,None,NaN,...,砖 拽专,94938.0,rachel@kotler-adika.co.il,0544755212,849584.0,注转 2024/2025,3300.0,3300.0,2024-10-10 15:27:23,True
2,NaN,转 住,10528,NaN,10 砖专 15 住 12,NaN,NaN,False,None,NaN,...,转 住,38818340.0,yonie84@gmail.com,0524567167,820053.0,注转 2024/2025,1550.0,1240.0,2024-07-21 20:09:08,True
3,注转 2024/2025,专 专,10529,NaN,10 砖专 6 住 1,A,897504.0,True,10 砖专 6 住 1,2025-06-08 17:30:53,...,专 专,59723486.0,48ronen@gmail.com,0528523030,805315.0,注转 2024/2025,2100.0,2100.0,2024-09-03 20:43:06,False
4,注转 2024/2025,注 驻专,10536,NaN,1C 砖专 4 住 30,C,881084.0,True,1C 砖专 4 住 30,2025-06-05 11:58:44,...,注 驻专,33486960.0,paldor1@gmail.com,(050) 894-6047,813774.0,注转 2024/2025,1050.0,1050.0,2024-08-09 16:29:40,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22132,NaN,,1430149,NaN,None,NaN,NaN,False,None,NaN,...,,209490556.0,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,False
22133,NaN,砖驻,11085,NaN,None,NaN,NaN,False,None,NaN,...,砖驻,11085.0,NaN,0507874290,NaN,"2016/2017, 2015/2016, 2014/2015",<NA>,<NA>,NaN,False
22134,NaN,注专 拽专,31779,NaN,None,NaN,NaN,False,None,NaN,...,注专 拽专,205417157.0,omerkarni24@gmail.com,0523142105,NaN,2019/2020,<NA>,<NA>,NaN,False
22135,NaN,驻专 专砖,13542,NaN,None,NaN,NaN,False,None,NaN,...,驻专 专砖,13542.0,NaN,0526966877,NaN,"2022/2023, 2021/2022, 2019/2020, 2018/2019...",<NA>,<NA>,NaN,False
22136,NaN,砖专 砖专,12121,NaN,None,NaN,NaN,False,None,NaN,...,砖专 砖专,12121.0,NaN,0547245676,NaN,"2023/2024, 2022/2023, 2021/2022, 2019/2020...",<NA>,<NA>,NaN,False

In [11]:
# Create "Final ID" by prioritizing assign using ID number, then User from merged, then User from ongoing
final_df["Old Season Ticket (All Owners)"] = final_df["Old Season Ticket (All Owners)"].combine_first(final_df["Product"])

# Remove duplicates based on User Id
final_df = final_df.drop_duplicates(subset="User Id")

# Fill in Full Name if missing, using Account Name
final_df["Full Name"] = final_df["Full Name"].combine_first(final_df["Account Name"])

# Final columns to keep
columns_to_keep = [
    'Assignment',
    'Status',
    'Comments',
    '拽驻',
    'Full Name',
    'TZ',
    'User Id', 
    'Email',
    'Phone',
    'Old Season Ticket (All Owners)',
    'OldTransactionDate',
    'Old Seat',
    'Base price',
    'Price',
    'Price area',
    'OldPriceType',
    'OldSeasonTicketId',
    'RenewSeasonTicket',
    'Renew Seat',
    'RenewTransactionDate',
    'RenewType',
    'RenewSeasonTicketId',
    'Marketing Allowed'
]
final_df = final_df[columns_to_keep]
final_df

,Assignment,Status,Comments,拽驻,Full Name,TZ,User Id,Email,Phone,Old Season Ticket (All Owners),...,Price,Price area,OldPriceType,OldSeasonTicketId,RenewSeasonTicket,Renew Seat,RenewTransactionDate,RenewType,RenewSeasonTicketId,Marketing Allowed
0,NaN,NaN,NaN,NaN,砖 拽爪专,40175192.0,10010,katzirs30@gmail.com,0502877926,注转 2024/2025,...,1550.0,B,NaN,859905.0,True,2 砖专 19 住 13,2025-06-10 09:35:20,SameSeat,899548.0,False
1,注,NaN,NaN,砖 2024/25 专,砖 拽专,94938.0,10011,rachel@kotler-adika.co.il,0544755212,注转 2024/2025,...,3300.0,Silver Up,Adult,849584.0,False,None,NaN,Empty,NaN,True
2,注,注转,转,砖 2024/25 专,转 住,38818340.0,10528,yonie84@gmail.com,0524567167,注转 2024/2025,...,1240.0,NaN,Adult (renew),820053.0,False,None,NaN,Empty,NaN,True
3,NaN,NaN,NaN,NaN,专 专,59723486.0,10529,48ronen@gmail.com,0528523030,注转 2024/2025,...,2100.0,A,NaN,805315.0,True,10 砖专 6 住 1,2025-06-08 17:30:53,SameSeat,897504.0,False
4,NaN,NaN,NaN,NaN,注 驻专,33486960.0,10536,paldor1@gmail.com,(050) 894-6047,注转 2024/2025,...,1050.0,C,NaN,813774.0,True,1C 砖专 4 住 30,2025-06-05 11:58:44,SameSeat,881084.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22132,NaN,NaN,NaN,NaN,,209490556.0,1430149,NaN,NaN,NaN,...,<NA>,NaN,NaN,NaN,False,None,NaN,NaN,NaN,False
22133,B,NaN,NaN,注专 砖 - 专 转,砖驻,11085.0,11085,NaN,0507874290,"2016/2017, 2015/2016, 2014/2015",...,<NA>,NaN,NaN,NaN,False,None,NaN,NaN,NaN,False
22134,B,NaN,NaN,注专 砖 - 专 转,注专 拽专,205417157.0,31779,omerkarni24@gmail.com,0523142105,2019/2020,...,<NA>,NaN,NaN,NaN,False,None,NaN,NaN,NaN,False
22135,B,NaN,NaN,注专 砖 - 专 转,驻专 专砖,13542.0,13542,NaN,0526966877,"2022/2023, 2021/2022, 2019/2020, 2018/2019...",...,<NA>,NaN,NaN,NaN,False,None,NaN,NaN,NaN,False
22136,B,NaN,NaN,注专 砖 - 专 转,砖专 砖专,12121.0,12121,NaN,0547245676,"2023/2024, 2022/2023, 2021/2022, 2019/2020...",...,<NA>,NaN,NaN,NaN,False,None,NaN,NaN,NaN,False

In [12]:
cols_to_check = ['Status', 'Assignment', '拽驻', 'Comments']

# For collecting discrepancies
discrepancies = []

# Loop over ongoing rows
for idx, row in ongoing.iterrows():
    user_id = row['User Id']
    
    # Skip rows with no User Id
    if pd.isna(user_id):
        continue
    
    # Look up this user in final_df
    match = final_df[final_df['User Id'] == user_id]
    
    if match.empty:
        # No row for this user
        continue
    
    # We expect only one row per User Id
    match_row = match.iloc[0]
    
    # Compare each column
    for col in cols_to_check:
        val_ongoing = row[col]
        val_final = match_row[col]
        
        # If both are NaN, consider them equal
        if pd.isna(val_ongoing) and pd.isna(val_final):
            continue
        
        # If they differ
        if val_ongoing != val_final:
            discrepancies.append({
                'User Id': user_id,
                'Column': col,
                'Ongoing Value': val_ongoing,
                'Final Value': val_final
            })

In [13]:
if discrepancies:
    print("锔 Discrepancies found between ongoing and final_df:")
    for d in discrepancies:
        print(
            f"- User Id {d['User Id']} | Column '{d['Column']}': "
            f"Ongoing='{d['Ongoing Value']}' vs Final='{d['Final Value']}'"
        )
else:
    print(" All values match exactly per User Id.")

 All values match exactly per User Id.

#### If something was missing:
##### Then check again

In [ ]:
for d in discrepancies:
    uid = d['User Id']
    col = d['Column']
    correct_value = d['Ongoing Value']
    
    final_df.loc[final_df['User Id'] == uid, col] = correct_value

In [14]:
# Exclude rows with specific OldPriceType values
values_to_drop = [
    "拽转 注专",
    "Community",
    "注住拽",
    "Box",
    '拽转 注专 \\'
]
final_df = final_df[
    ~final_df["OldPriceType"].isin(values_to_drop)
]

final_df = final_df[~final_df['Full Name'].str.contains(('test|Toptix Ltd|拽|test'), case=False, na=False)]

### Add st_2526 new members:

In [15]:
st_2526 = prepare_cleaned_season_data(
    st_csv_path="List_Report_20250703140618.csv",
    vouchers_csv_path="VoucherUseReport_2025-07-03.csv",
    vouchers_to_exclude=vouchers_to_exclude
)
st_2526 = combine_x_y_columns(st_2526, drop_original=True)
st_2526

/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_57159/1004390178.py:7: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df[base] = df[merged_col].combine_first(df[ongoing_col])
/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_57159/1004390178.py:7: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df[base] = df[merged_col].combine_first(df[ongoing_col])
/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_57159/1004390178.py:7: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df[base] = df[merged_col].combine_first(df[ongoing_col])
/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_57159/1004390178.py:7: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df[base] = df[merged_col].combine_first(df[ongoing_col])

,User Id,User first name,User last name,Package name,Product Id,Product,Status,Id,Fan / Company,assign using ID number,...,Payment type,Payment method,Delivery type,Ticket Note,Transaction Note,Role,ReturnRequestStatus,Voucher number,Voucher value,Unnamed: 51
0,1348638,专,302506571,0,194,注转 2025/2026,Active,902982,驻,011595162,...,Pelecard_PayType_Pelecard_Credit Card,Pelecard_Credit Card,Virtual Card,NaN,NaN,Cashier,NaN,NaN,NaN,NaN
1,1335364,专,302506571,0,194,注转 2025/2026,Active,902981,驻,55920086,...,Pelecard_PayType_Pelecard_Credit Card,Pelecard_Credit Card,Virtual Card,NaN,NaN,Cashier,NaN,NaN,NaN,NaN
2,11226,专,302506571,0,194,注转 2025/2026,Active,902969,拽 专,60742327,...,PayType_External Payment Subscriptions,External Payment Subscriptions,Virtual Card,NaN,NaN,Administrator,NaN,NaN,NaN,NaN
6,10547,专,302506571,0,194,注转 2025/2026,Active,902964,砖拽 拽,1597624,...,Pelecard_PayType_Pelecard_Credit Card,Pelecard_Credit Card,Virtual Card,NaN,NaN,Administrator,NaN,NaN,NaN,NaN
7,14076,专,302506571,0,194,注转 2025/2026,Active,902951,专,50328491,...,Pelecard_PayType_Pelecard_Credit Card,Pelecard_Credit Card,Virtual Card,NaN,NaN,Cashier,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661000,1335439,专,302506571,0,194,注转 2025/2026,Active,881070,转 专,024957136,...,Pelecard_PayType_Pelecard_Credit Card,Pelecard_Credit Card,Virtual Card,NaN,NaN,User,NaN,NaN,NaN,NaN
661001,16172,专,302506571,0,194,注转 2025/2026,Active,881069,砖专 专,25110867,...,Pelecard_PayType_Pelecard_Credit Card,Pelecard_Credit Card,Virtual Card,NaN,NaN,User,NaN,NaN,NaN,NaN
661002,1335438,专,302506571,0,194,注转 2025/2026,Active,881071,注 专,214554974,...,Pelecard_PayType_Pelecard_Credit Card,Pelecard_Credit Card,Virtual Card,NaN,NaN,User,NaN,NaN,NaN,NaN
661003,12927,专,302506571,0,194,注转 2025/2026,Active,881065,注转 拽,203147582,...,Pelecard_PayType_Pelecard_Credit Card,Pelecard_Credit Card,Virtual Card,NaN,NaN,Administrator,NaN,NaN,NaN,NaN
661004,1330789,专,302506571,0,194,注转 2025/2026,Active,881064,专 爪,217285725,...,Cash,Cash,Virtual Card,NaN,NaN,Administrator,NaN,NaN,NaN,NaN

In [16]:
def build_renew_seat(row):
    if pd.isna(row['Area']) or pd.isna(row['Row']) or pd.isna(row['Number']):
        return None
    return (
        str(row['Area']) +
        " 砖专 " +
        clean_number(row['Row']) +
        " 住 " +
        clean_number(row['Number'])
    )

st_2526['Renew Seat'] = st_2526.apply(build_renew_seat, axis=1)
st_2526 = st_2526.rename(columns={
'Id': 'RenewSeasonTicketId',
'Ticket price types': 'RenewPriceType',
'Price area': 'Renew Price Area',
"Fan / Company": "Full Name",
"assign using  ID number": "TZ",
"Date": "RenewTransactionDate",
"Price": 'RenewPrice', 
"Base price": "Renew Base Price"
})

st_2526 = st_2526[st_2526['RenewPriceType'] != 'Complementary']

# Select and rename columns
st_2526 = st_2526[[
    "Full Name",
    "TZ",
    "User Id",
    "Email",
    "Phone",
    "Renew Base Price",
    "RenewPrice",
    "Renew Price Area",
    "RenewPriceType",
    "RenewSeasonTicketId",
    "Renew Seat",
    "RenewTransactionDate"
]]

st_2526 = st_2526.drop_duplicates(subset='User Id')

st_2526

,Full Name,TZ,User Id,Email,Phone,Renew Base Price,RenewPrice,Renew Price Area,RenewPriceType,RenewSeasonTicketId,Renew Seat,RenewTransactionDate
0,驻,011595162,1348638,chlapid@gmail.com,050000000,1600,1280,B,Adult (renew),902982,4 砖专 18 住 2,2025-07-03 1:44 PM
1,驻,55920086,1335364,lapideldad7@gmail.com,NaN,1600,1600,B,Adult (renew),902981,4 砖专 18 住 3,2025-07-03 1:44 PM
2,拽 专,60742327,11226,alik.hochner@gmail.com,0545795006,5000,5000,Silver,Adult,902969,3 砖专 8 住 19,2025-07-03 12:24 PM
6,砖拽 拽,1597624,10547,mashka@negba.org.il,0505750953,1650,1320,B,Adult - New promo,902964,2 砖专 11 住 16,2025-07-03 12:13 PM
7,专,50328491,14076,budneroamnon@gmail.com,0542425501,1395,1395,A,Adult (renew),902951,10 砖专 8 住 10,2025-07-03 10:27 AM
...,...,...,...,...,...,...,...,...,...,...,...,...
660999,爪,25330,25330,meidav123@icloud.com,0549013883,1300,1300,C,Playoff finals - Adult,881075,5 砖专 17 住 31,2025-06-05 11:58 AM
661000,转 专,024957136,1335439,NaN,NaN,850,850,D,Playoff finals - Adult,881070,12 砖专 17 住 20,2025-06-05 11:56 AM
661001,砖专 专,25110867,16172,dana.sharonadar@gmail.com,0507324716,850,850,D,Playoff finals - Adult,881069,12 砖专 17 住 21,2025-06-05 11:56 AM
661002,注 专,214554974,1335438,NaN,NaN,700,700,D,Child,881071,12 砖专 17 住 19,2025-06-05 11:56 AM
661003,注转 拽,203147582,12927,boknilev@hotmail.com,0508210210,1050,840,F,Playoff finals - Adult,881065,1 注 砖专 15 住 32,2025-06-05 11:13 AM

In [17]:
merged_df = final_df.merge(
    st_2526,
    on="User Id",
    how="left",
    suffixes=("", "_2526")
)

def combine_2526_columns(df, drop_original=False):
    merged_cols = [col for col in df.columns if col.endswith('_2526')]
    
    # Start with a Series of all False
    renew_flag = pd.Series(False, index=df.index)

    for merged_col in merged_cols:
        base_col = merged_col.rsplit('_', 1)[0]
        
        if base_col in df.columns:
            # Update the flag if base_col is null and merged_col is not null
            renew_flag |= df[base_col].isna() & df[merged_col].notna()
            # Combine
            df[base_col] = df[base_col].combine_first(df[merged_col])
        else:
            # If no base col, rename
            df.rename(columns={merged_col: base_col}, inplace=True)
            # Any non-null here means it came from st_2526
            renew_flag |= df[base_col].notna()
        
        # Drop if requested
        if drop_original:
            df.drop(columns=[merged_col], inplace=True)
    
    # Add RenewSeasonTicket flag
    df["RenewSeasonTicket"] = renew_flag

    return df

merged_df = combine_2526_columns(merged_df, drop_original=True)

merged_df

,Assignment,Status,Comments,拽驻,Full Name,TZ,User Id,Email,Phone,Old Season Ticket (All Owners),...,RenewSeasonTicket,Renew Seat,RenewTransactionDate,RenewType,RenewSeasonTicketId,Marketing Allowed,Renew Base Price,RenewPrice,Renew Price Area,RenewPriceType
0,NaN,NaN,NaN,NaN,砖 拽爪专,40175192.0,10010,katzirs30@gmail.com,0502877926,注转 2024/2025,...,False,2 砖专 19 住 13,2025-06-10 09:35:20,SameSeat,899548.0,False,1650,1650,B,Playoff finals - Adult
1,注,NaN,NaN,砖 2024/25 专,砖 拽专,94938.0,10011,rachel@kotler-adika.co.il,0544755212,注转 2024/2025,...,False,NaN,NaN,Empty,NaN,True,<NA>,<NA>,NaN,NaN
2,注,注转,转,砖 2024/25 专,转 住,38818340.0,10528,yonie84@gmail.com,0524567167,注转 2024/2025,...,False,NaN,NaN,Empty,NaN,True,<NA>,<NA>,NaN,NaN
3,NaN,NaN,NaN,NaN,专 专,59723486.0,10529,48ronen@gmail.com,0528523030,注转 2024/2025,...,False,10 砖专 6 住 1,2025-06-08 17:30:53,SameSeat,897504.0,False,2100,1470,A,Playoff finals - Adult
4,NaN,NaN,NaN,NaN,注 驻专,33486960.0,10536,paldor1@gmail.com,(050) 894-6047,注转 2024/2025,...,False,1C 砖专 4 住 30,2025-06-05 11:58:44,SameSeat,881084.0,False,1450,1450,C,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21915,NaN,NaN,NaN,NaN,,209490556.0,1430149,NaN,NaN,NaN,...,True,2 砖专 21 住 13,2025-07-01 2:19 PM,NaN,902628.0,False,1650,1650,B,Adult - New promo
21916,B,NaN,NaN,注专 砖 - 专 转,砖驻,11085.0,11085,NaN,0507874290,"2016/2017, 2015/2016, 2014/2015",...,False,NaN,NaN,NaN,NaN,False,<NA>,<NA>,NaN,NaN
21917,B,NaN,NaN,注专 砖 - 专 转,注专 拽专,205417157.0,31779,omerkarni24@gmail.com,0523142105,2019/2020,...,True,3 砖专 20 住 17,2025-07-01 3:22 PM,NaN,902638.0,False,2200,1760,A,Adult - New promo
21918,B,NaN,NaN,注专 砖 - 专 转,驻专 专砖,13542.0,13542,NaN,0526966877,"2022/2023, 2021/2022, 2019/2020, 2018/2019...",...,False,NaN,NaN,NaN,NaN,False,<NA>,<NA>,NaN,NaN
21919,B,NaN,NaN,注专 砖 - 专 转,砖专 砖专,12121.0,12121,NaN,0547245676,"2023/2024, 2022/2023, 2021/2022, 2019/2020...",...,False,NaN,NaN,NaN,NaN,False,<NA>,<NA>,NaN,NaN

### Add organization for all users:

In [19]:
robo_users = pd.read_csv('UserCreatedReport_2025-07-01 16_33.csv')
robo_users['Full Name'] = robo_users['firstname'] + " " + robo_users['lastname']
robo_users = robo_users[['Full Name', 'userid', 'isorganization']]

robo_users['userid'] = pd.to_numeric(robo_users['userid'], errors="coerce").astype("Int64")

robo_users['isorganization'] = robo_users['isorganization'].map({'Yes': True, 'No': False})

assert robo_users['userid'].is_unique, "Error: duplicate user IDs in robo_users!"

/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_57159/3604943635.py:1: DtypeWarning: Columns (14,19,24,25,28) have mixed types. Specify dtype option on import or set low_memory=False.
  robo_users = pd.read_csv('UserCreatedReport_2025-07-01 16_33.csv')

AssertionError: Error: duplicate user IDs in robo_users!

#### If fails:

In [20]:
robo_users = robo_users.drop_duplicates()
assert robo_users['userid'].is_unique, "Still duplicates!"

#### Continue:

In [21]:
merged_df = merged_df.merge(
    robo_users,
    left_on='User Id',
    right_on='userid',
    how='left',
    suffixes=('', '_robo')
)

assert len(merged_df) == len(final_df), "Row count changed!"

merged_df["Full Name"] = np.where(
    merged_df["Full Name"] == "relationship lite user",
    merged_df["Full Name_robo"],
    merged_df["Full Name"]
)

merged_df = merged_df.drop(columns=['Full Name_robo', 'userid'])
merged_df

,Assignment,Status,Comments,拽驻,Full Name,TZ,User Id,Email,Phone,Old Season Ticket (All Owners),...,Renew Seat,RenewTransactionDate,RenewType,RenewSeasonTicketId,Marketing Allowed,Renew Base Price,RenewPrice,Renew Price Area,RenewPriceType,isorganization
0,NaN,NaN,NaN,NaN,砖 拽爪专,40175192.0,10010,katzirs30@gmail.com,0502877926,注转 2024/2025,...,2 砖专 19 住 13,2025-06-10 09:35:20,SameSeat,899548.0,False,1650,1650,B,Playoff finals - Adult,True
1,注,NaN,NaN,砖 2024/25 专,砖 拽专,94938.0,10011,rachel@kotler-adika.co.il,0544755212,注转 2024/2025,...,NaN,NaN,Empty,NaN,True,<NA>,<NA>,NaN,NaN,True
2,注,注转,转,砖 2024/25 专,转 住,38818340.0,10528,yonie84@gmail.com,0524567167,注转 2024/2025,...,NaN,NaN,Empty,NaN,True,<NA>,<NA>,NaN,NaN,False
3,NaN,NaN,NaN,NaN,专 专,59723486.0,10529,48ronen@gmail.com,0528523030,注转 2024/2025,...,10 砖专 6 住 1,2025-06-08 17:30:53,SameSeat,897504.0,False,2100,1470,A,Playoff finals - Adult,False
4,NaN,NaN,NaN,NaN,注 驻专,33486960.0,10536,paldor1@gmail.com,(050) 894-6047,注转 2024/2025,...,1C 砖专 4 住 30,2025-06-05 11:58:44,SameSeat,881084.0,False,1450,1450,C,Adult,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21915,NaN,NaN,NaN,NaN,,209490556.0,1430149,NaN,NaN,NaN,...,2 砖专 21 住 13,2025-07-01 2:19 PM,NaN,902628.0,False,1650,1650,B,Adult - New promo,NaN
21916,B,NaN,NaN,注专 砖 - 专 转,砖驻,11085.0,11085,NaN,0507874290,"2016/2017, 2015/2016, 2014/2015",...,NaN,NaN,NaN,NaN,False,<NA>,<NA>,NaN,NaN,NaN
21917,B,NaN,NaN,注专 砖 - 专 转,注专 拽专,205417157.0,31779,omerkarni24@gmail.com,0523142105,2019/2020,...,3 砖专 20 住 17,2025-07-01 3:22 PM,NaN,902638.0,False,2200,1760,A,Adult - New promo,False
21918,B,NaN,NaN,注专 砖 - 专 转,驻专 专砖,13542.0,13542,NaN,0526966877,"2022/2023, 2021/2022, 2019/2020, 2018/2019...",...,NaN,NaN,NaN,NaN,False,<NA>,<NA>,NaN,NaN,False
21919,B,NaN,NaN,注专 砖 - 专 转,砖专 砖专,12121.0,12121,NaN,0547245676,"2023/2024, 2022/2023, 2021/2022, 2019/2020...",...,NaN,NaN,NaN,NaN,False,<NA>,<NA>,NaN,NaN,False

### Add riseabove:

In [22]:
riseabove = pd.read_csv('riseabove.csv')
riseabove = riseabove.drop_duplicates(subset=['User Id'])
riseabove = riseabove[['Product', 'User Id']]
riseabove['User Id'] = pd.to_numeric(riseabove['User Id'], errors="coerce").astype("Int64")

# Save the row count before merge
initial_rows = len(merged_df)

# Merge
merged_df = merged_df.merge(riseabove, on='User Id', how='left')

# Check if shape changed
if len(merged_df) != initial_rows:
    raise ValueError(
        f"Merge increased the number of rows! Before: {initial_rows}, After: {len(merged_df)}"
    )

# Create flag
merged_df['RiseAbove2425'] = merged_df['Product'].notna()

# Update old season ticket
merged_df.loc[merged_df['RiseAbove2425'], 'Old Season Ticket (All Owners)'] = merged_df.loc[merged_df['RiseAbove2425'], 'Product']

# Ensure flag is boolean
merged_df['RiseAbove2425'] = merged_df['RiseAbove2425'].fillna(False)

merged_df = merged_df.drop(columns=['Product'])

merged_df

,Assignment,Status,Comments,拽驻,Full Name,TZ,User Id,Email,Phone,Old Season Ticket (All Owners),...,RenewTransactionDate,RenewType,RenewSeasonTicketId,Marketing Allowed,Renew Base Price,RenewPrice,Renew Price Area,RenewPriceType,isorganization,RiseAbove2425
0,NaN,NaN,NaN,NaN,砖 拽爪专,40175192.0,10010,katzirs30@gmail.com,0502877926,注转 2024/2025,...,2025-06-10 09:35:20,SameSeat,899548.0,False,1650,1650,B,Playoff finals - Adult,True,False
1,注,NaN,NaN,砖 2024/25 专,砖 拽专,94938.0,10011,rachel@kotler-adika.co.il,0544755212,注转 2024/2025,...,NaN,Empty,NaN,True,<NA>,<NA>,NaN,NaN,True,False
2,注,注转,转,砖 2024/25 专,转 住,38818340.0,10528,yonie84@gmail.com,0524567167,注转 2024/2025,...,NaN,Empty,NaN,True,<NA>,<NA>,NaN,NaN,False,False
3,NaN,NaN,NaN,NaN,专 专,59723486.0,10529,48ronen@gmail.com,0528523030,注转 2024/2025,...,2025-06-08 17:30:53,SameSeat,897504.0,False,2100,1470,A,Playoff finals - Adult,False,False
4,NaN,NaN,NaN,NaN,注 驻专,33486960.0,10536,paldor1@gmail.com,(050) 894-6047,注转 2024/2025,...,2025-06-05 11:58:44,SameSeat,881084.0,False,1450,1450,C,Adult,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21915,NaN,NaN,NaN,NaN,,209490556.0,1430149,NaN,NaN,NaN,...,2025-07-01 2:19 PM,NaN,902628.0,False,1650,1650,B,Adult - New promo,NaN,False
21916,B,NaN,NaN,注专 砖 - 专 转,砖驻,11085.0,11085,NaN,0507874290,"2016/2017, 2015/2016, 2014/2015",...,NaN,NaN,NaN,False,<NA>,<NA>,NaN,NaN,NaN,False
21917,B,NaN,NaN,注专 砖 - 专 转,注专 拽专,205417157.0,31779,omerkarni24@gmail.com,0523142105,2019/2020,...,2025-07-01 3:22 PM,NaN,902638.0,False,2200,1760,A,Adult - New promo,False,False
21918,B,NaN,NaN,注专 砖 - 专 转,驻专 专砖,13542.0,13542,NaN,0526966877,"2022/2023, 2021/2022, 2019/2020, 2018/2019...",...,NaN,NaN,NaN,False,<NA>,<NA>,NaN,NaN,False,False
21919,B,NaN,NaN,注专 砖 - 专 转,砖专 砖专,12121.0,12121,NaN,0547245676,"2023/2024, 2022/2023, 2021/2022, 2019/2020...",...,NaN,NaN,NaN,False,<NA>,<NA>,NaN,NaN,False,False

### ONE TEAM ONE FAMILY:

In [23]:
names_to_exclude = [
    " ",
    "专 ",
    "转专 ",
    "注 ",
    '注 住',
    '拽 住',
    '注驻专 专注',
    '转 专拽',
    '转 拽驻',
    '转 拽驻',
    '专 专驻 拽专',
    '专 ',
    '砖专转 住',
    '爪 住',
    '注 砖专爪',
    '专 砖专爪',
    '专 专',
    '专 专',
    '注专 专'
]

emails_to_exclude = [
    "msleon123@gmail.com",
    'hareven@gmail.com',
    'avalid59@gmail.com',
    'gordonsarah01@gmail.com',
    'yishai757@gmail.com',
    'laor.print@gmail.com',
    'rois@nvidia.com',
    'roisasson6@gmail.com'
]

merged_df = merged_df[~merged_df['Email'].isin(emails_to_exclude)]
merged_df = merged_df[~merged_df['Full Name'].isin(names_to_exclude)]

merged_df

,Assignment,Status,Comments,拽驻,Full Name,TZ,User Id,Email,Phone,Old Season Ticket (All Owners),...,RenewTransactionDate,RenewType,RenewSeasonTicketId,Marketing Allowed,Renew Base Price,RenewPrice,Renew Price Area,RenewPriceType,isorganization,RiseAbove2425
0,NaN,NaN,NaN,NaN,砖 拽爪专,40175192.0,10010,katzirs30@gmail.com,0502877926,注转 2024/2025,...,2025-06-10 09:35:20,SameSeat,899548.0,False,1650,1650,B,Playoff finals - Adult,True,False
1,注,NaN,NaN,砖 2024/25 专,砖 拽专,94938.0,10011,rachel@kotler-adika.co.il,0544755212,注转 2024/2025,...,NaN,Empty,NaN,True,<NA>,<NA>,NaN,NaN,True,False
2,注,注转,转,砖 2024/25 专,转 住,38818340.0,10528,yonie84@gmail.com,0524567167,注转 2024/2025,...,NaN,Empty,NaN,True,<NA>,<NA>,NaN,NaN,False,False
4,NaN,NaN,NaN,NaN,注 驻专,33486960.0,10536,paldor1@gmail.com,(050) 894-6047,注转 2024/2025,...,2025-06-05 11:58:44,SameSeat,881084.0,False,1450,1450,C,Adult,False,False
5,NaN,NaN,NaN,NaN,专专 ',54906474.0,10538,drormijan@gmail.com,(050) 627-2772,注转 2024/2025,...,2025-06-25 12:34:47,SameSeat,900441.0,True,<NA>,<NA>,NaN,NaN,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21915,NaN,NaN,NaN,NaN,,209490556.0,1430149,NaN,NaN,NaN,...,2025-07-01 2:19 PM,NaN,902628.0,False,1650,1650,B,Adult - New promo,NaN,False
21916,B,NaN,NaN,注专 砖 - 专 转,砖驻,11085.0,11085,NaN,0507874290,"2016/2017, 2015/2016, 2014/2015",...,NaN,NaN,NaN,False,<NA>,<NA>,NaN,NaN,NaN,False
21917,B,NaN,NaN,注专 砖 - 专 转,注专 拽专,205417157.0,31779,omerkarni24@gmail.com,0523142105,2019/2020,...,2025-07-01 3:22 PM,NaN,902638.0,False,2200,1760,A,Adult - New promo,False,False
21918,B,NaN,NaN,注专 砖 - 专 转,驻专 专砖,13542.0,13542,NaN,0526966877,"2022/2023, 2021/2022, 2019/2020, 2018/2019...",...,NaN,NaN,NaN,False,<NA>,<NA>,NaN,NaN,False,False
21919,B,NaN,NaN,注专 砖 - 专 转,砖专 砖专,12121.0,12121,NaN,0547245676,"2023/2024, 2022/2023, 2021/2022, 2019/2020...",...,NaN,NaN,NaN,False,<NA>,<NA>,NaN,NaN,False,False

### Seniority:

In [24]:
seniority = pd.read_excel('Output Segments.xlsx')

# Make sure IDs are numeric
seniority["client_number"] = pd.to_numeric(seniority["client_number"], errors="coerce").astype("Int64")

# Function to get concatenated column names
def concat_columns_with_ones(row):
    cols_with_one = [col for col in row.index if row[col] in (1, 1.0)]
    return ", ".join(cols_with_one) if cols_with_one else None

# Build mapping
seniority_mapping = seniority.set_index("client_number").apply(concat_columns_with_ones, axis=1).to_dict()

# Map to merged_df
merged_df["Seniority_String"] = merged_df["User Id"].map(seniority_mapping)

# Mask: only fill if NaN or empty, and NOT if already 2024/2025
mask = (
    (merged_df["Old Season Ticket (All Owners)"].isna() | merged_df["Old Season Ticket (All Owners)"].eq(""))
    & merged_df["Seniority_String"].notna()
)

# Update
merged_df.loc[mask, "Old Season Ticket (All Owners)"] = merged_df.loc[mask, "Seniority_String"]

# Clean up
merged_df = merged_df.drop(columns=["Seniority_String"])

# Create ST_Count by splitting on commas
merged_df["ST_Count"] = (
    merged_df["Old Season Ticket (All Owners)"]
    .fillna("")
    .apply(lambda x: len([item for item in x.split(",") if item.strip()]) if x else 0)
)

merged_df

,Assignment,Status,Comments,拽驻,Full Name,TZ,User Id,Email,Phone,Old Season Ticket (All Owners),...,RenewType,RenewSeasonTicketId,Marketing Allowed,Renew Base Price,RenewPrice,Renew Price Area,RenewPriceType,isorganization,RiseAbove2425,ST_Count
0,NaN,NaN,NaN,NaN,砖 拽爪专,40175192.0,10010,katzirs30@gmail.com,0502877926,注转 2024/2025,...,SameSeat,899548.0,False,1650,1650,B,Playoff finals - Adult,True,False,1
1,注,NaN,NaN,砖 2024/25 专,砖 拽专,94938.0,10011,rachel@kotler-adika.co.il,0544755212,注转 2024/2025,...,Empty,NaN,True,<NA>,<NA>,NaN,NaN,True,False,1
2,注,注转,转,砖 2024/25 专,转 住,38818340.0,10528,yonie84@gmail.com,0524567167,注转 2024/2025,...,Empty,NaN,True,<NA>,<NA>,NaN,NaN,False,False,1
4,NaN,NaN,NaN,NaN,注 驻专,33486960.0,10536,paldor1@gmail.com,(050) 894-6047,注转 2024/2025,...,SameSeat,881084.0,False,1450,1450,C,Adult,False,False,1
5,NaN,NaN,NaN,NaN,专专 ',54906474.0,10538,drormijan@gmail.com,(050) 627-2772,注转 2024/2025,...,SameSeat,900441.0,True,<NA>,<NA>,NaN,NaN,True,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21915,NaN,NaN,NaN,NaN,,209490556.0,1430149,NaN,NaN,NaN,...,NaN,902628.0,False,1650,1650,B,Adult - New promo,NaN,False,0
21916,B,NaN,NaN,注专 砖 - 专 转,砖驻,11085.0,11085,NaN,0507874290,"2016/2017, 2015/2016, 2014/2015",...,NaN,NaN,False,<NA>,<NA>,NaN,NaN,NaN,False,3
21917,B,NaN,NaN,注专 砖 - 专 转,注专 拽专,205417157.0,31779,omerkarni24@gmail.com,0523142105,2019/2020,...,NaN,902638.0,False,2200,1760,A,Adult - New promo,False,False,1
21918,B,NaN,NaN,注专 砖 - 专 转,驻专 专砖,13542.0,13542,NaN,0526966877,"2022/2023, 2021/2022, 2019/2020, 2018/2019...",...,NaN,NaN,False,<NA>,<NA>,NaN,NaN,False,False,6
21919,B,NaN,NaN,注专 砖 - 专 转,砖专 砖专,12121.0,12121,NaN,0547245676,"2023/2024, 2022/2023, 2021/2022, 2019/2020...",...,NaN,NaN,False,<NA>,<NA>,NaN,NaN,False,False,7

In [ ]:
merged_df["RenewSeasonTicket"] = np.where(
    merged_df["RenewTransactionDate"].notna(),
    '砖',
    'None'
)

In [27]:
merged_df.to_excel("new.xlsx")

# Update the report:

## Start Here:

In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta

In [2]:
merged_df = pd.read_excel('住专 拽驻  2025_26.xlsx', sheet_name='砖')

### Add users that created in sf yesterday and today:

In [3]:
#  Load users file from sf
users_new = pd.read_excel('Users report-2025-07-06-23-08-41.xlsx')

#  Make sure IDs are numeric
users_new['HJBC ID'] = pd.to_numeric(users_new['HJBC ID'], errors="coerce").astype("Int64")
users_new['ID'] = pd.to_numeric(users_new['ID'], errors="coerce").astype("Int64")

#  Convert Marketing Allowed from numeric to Boolean
users_new["Marketing Allowed"] = users_new["Marketing Allowed"].map({
    1.0: True,
    0.0: False
})

#  Keep only relevant columns
users_new = users_new[[
    'Account Name',
    'ID',
    'HJBC ID',
    'Phone',
    'Email',
    'Created Date',
    'Marketing Allowed',
]]

#  Show basic info
print(" merged_df shape before merge:", merged_df.shape)
print(" users_new shape:", users_new.shape)

#  Check for new User Ids
existing_ids = set(merged_df["User Id"].dropna().unique())
new_ids = set(users_new["HJBC ID"].dropna().unique()) - existing_ids
print(" New User Ids in users_new not in merged_df:", len(new_ids))
if len(new_ids) > 0:
    print("癸 Example new User Ids:", list(new_ids)[:5])

#  Check for missing fields before merge
cols_to_check = ["Phone", "Email", "Full Name", "TZ", "Marketing Allowed"]
print("\n Missing values in merged_df before merge:")
for col in cols_to_check:
    na_count = merged_df[col].isna().sum()
    print(f"   - {col}: {na_count} missing")

#  Merge
enriched_df = merged_df.merge(
    users_new,
    left_on="User Id",
    right_on="HJBC ID",
    how="outer",
    suffixes=("", "_user")
)

print("\n enriched_df shape after merge:", enriched_df.shape)

#  Count how many rows came only from users_new
new_rows = enriched_df[enriched_df["User Id"].isna()]
print(" Rows added from users_new (not in merged_df):", len(new_rows))

#  Combine fields
enriched_df["Phone"] = enriched_df["Phone"].combine_first(enriched_df["Phone_user"])
enriched_df["Email"] = enriched_df["Email"].combine_first(enriched_df["Email_user"])
enriched_df["Full Name"] = enriched_df["Full Name"].combine_first(enriched_df["Account Name"])
enriched_df["TZ"] = enriched_df["TZ"].combine_first(enriched_df["ID"])
enriched_df["User Id"] = enriched_df["User Id"].combine_first(enriched_df["HJBC ID"])
enriched_df["Marketing Allowed"] = enriched_df["Marketing Allowed"].combine_first(enriched_df["Marketing Allowed_user"])

#  Fill missing Marketing Allowed with False (if desired)
enriched_df["Marketing Allowed"] = enriched_df["Marketing Allowed"].fillna(False)

#  Drop extra columns
enriched_df = enriched_df.drop(columns=[
    "Phone_user",
    "Email_user",
    "Account Name",
    "HJBC ID",
    "Marketing Allowed_user",
    "ID",
    "Created Date"
])

#  Check for remaining missing fields
print("\n Missing values in enriched_df after merge:")
for col in cols_to_check:
    na_count = enriched_df[col].isna().sum()
    print(f"   - {col}: {na_count} missing")

#  Preview
print("\n Preview of enriched data:")
enriched_df.head(10)

 merged_df shape before merge: (51430, 30)
 users_new shape: (3, 7)
 New User Ids in users_new not in merged_df: 1
癸 Example new User Ids: [1430381]

 Missing values in merged_df before merge:
   - Phone: 7774 missing
   - Email: 6250 missing
   - Full Name: 0 missing
   - TZ: 0 missing
   - Marketing Allowed: 0 missing

 enriched_df shape after merge: (51431, 37)
 Rows added from users_new (not in merged_df): 29781

 Missing values in enriched_df after merge:
   - Phone: 7775 missing
   - Email: 6251 missing
   - Full Name: 0 missing
   - TZ: 0 missing
   - Marketing Allowed: 0 missing

 Preview of enriched data:

/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_1791/2343764274.py:67: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  enriched_df["Marketing Allowed"] = enriched_df["Marketing Allowed"].fillna(False)

,Assignment,Status,Comments,拽驻,Full Name,TZ,User Id,Email,Phone,Old Season Ticket (All Owners),...,RenewType,RenewSeasonTicketId,Marketing Allowed,Renew Base Price,RenewPrice,Renew Price Area,RenewPriceType,isorganization,RiseAbove2425,ST_Count
0,B,NaN,NaN,注专 砖 - 专 转,注 专住拽,205461999,10008.0,3gilad3@gmail.com,NaN,"2018/2019, 2017/2018, 2016/2017, 2015/2016...",...,NaN,NaN,False,NaN,NaN,NaN,NaN,False,False,5.0
1,NaN,砖,NaN,NaN,砖 拽爪专,040175192,10010.0,katzirs30@gmail.com,0502877926,"2024/2025, 2023/2024, 2022/2023, 2021/2022...",...,SameSeat,899548.0,False,1650.0,1650.0,B,Playoff finals - Adult,False,False,10.0
2,注,NaN,NaN,砖 2024/25 专,砖 拽专,000094938,10011.0,rachel@kotler-adika.co.il,0544755212,"2024/2025, 2023/2024, 2022/2023, 2021/2022...",...,Empty,NaN,True,NaN,NaN,NaN,NaN,False,False,10.0
3,注,注转,转,砖 2024/25 专,转 住,038818340,10528.0,yonie84@gmail.com,0524567167,"2024/2025, 2023/2024, 2022/2023, 2021/2022...",...,Empty,NaN,True,NaN,NaN,NaN,NaN,False,False,10.0
4,B,NaN,NaN,注专 砖 - 专 转,专 砖注,000010531,10531.0,NaN,0547995767,"2023/2024, 2022/2023, 2021/2022, 2019/2020...",...,NaN,NaN,False,NaN,NaN,NaN,NaN,False,False,9.0
5,B,NaN,NaN,注专 砖 - 专 转,拽 拽专,000010534,10534.0,NaN,0547750464,2014/2015,...,NaN,NaN,False,NaN,NaN,NaN,NaN,False,False,1.0
6,NaN,砖,NaN,NaN,注 驻专,033486960,10536.0,paldor1@gmail.com,(050) 894-6047,"2024/2025, 2023/2024, 2022/2023, 2021/2022...",...,SameSeat,881084.0,False,1450.0,1450.0,C,Adult,False,False,10.0
7,NaN,砖,NaN,NaN,专专 ',054906474,10538.0,drormijan@gmail.com,0506272772,"2024/2025, 2023/2024, 2022/2023, 2021/2022...",...,SameSeat,900441.0,True,0.0,-850.0,C,Child (renew),False,False,10.0
8,NaN,砖,NaN,NaN,专 驻专,059640961,10541.0,yaryar@012.net.il,0546373022,"2024/2025, 2023/2024, 2022/2023, 2021/2022...",...,SameSeat,886191.0,True,1650.0,1650.0,B,Playoff finals - Adult,False,False,10.0
9,NaN,砖,NaN,NaN,拽住专,059776435,10542.0,keisarh@walla.co.il,(054) 200-9358,"2024/2025, 2023/2024, 2019/2020, 2018/2019...",...,OtherSeat,887802.0,True,2100.0,2100.0,A,Playoff finals - Adult,False,False,8.0

### Ensure those columns "Assignment", "Status", "Comments", "拽驻" passed correctly:

In [4]:
# Columns to check
cols_to_check = ["Assignment", "Status", "Comments", "拽驻"]

print(" Comparing non-empty counts in merged_df vs enriched_df:\n")

for col in cols_to_check:
    count_start = merged_df[col].notna().sum()
    count_after = enriched_df[col].notna().sum()
    
    print(f" Column '{col}':")
    print(f"   - In merged_df:   {count_start} non-empty")
    print(f"   - In enriched_df: {count_after} non-empty")
    
    if count_start == count_after:
        print("    Counts MATCH.\n")
    else:
        print("   锔 Counts DIFFER!\n")


# # Make sure User Id columns are numeric
# merged_df["User Id"] = pd.to_numeric(merged_df["User Id"], errors="coerce").astype("Int64")
# enriched_df["User Id"] = pd.to_numeric(enriched_df["User Id"], errors="coerce").astype("Int64")

# # Merge to align rows
# check_merge = merged_df[["User Id", "Status"]].merge(
#     enriched_df[["User Id", "Status"]],
#     on="User Id",
#     how="inner",
#     suffixes=("_merged", "_enriched")
# )

# # Build mask: Status is present in merged_df and missing in enriched_df
# mask_discrepancy = (
#     check_merge["Status_merged"].notna() &
#     check_merge["Status_enriched"].isna()
# )

# # Get affected User Ids
# user_ids_with_issue = check_merge.loc[mask_discrepancy, "User Id"].unique()

# print(f" Found {len(user_ids_with_issue)} User Ids with missing Status in enriched_df.")

# # Display first 2 discrepancies side by side
# for uid in user_ids_with_issue[:2]:
#     print(f"\n User Id: {uid}\n")
#     print(" merged_df:")
#     display(
#         merged_df.loc[merged_df["User Id"] == uid, ["User Id", "Full Name", "Status", "Assignment", "Comments", "拽驻"]]
#     )
#     print(" enriched_df:")
#     display(
#         enriched_df.loc[enriched_df["User Id"] == uid, ["User Id", "Full Name", "Status", "Assignment", "Comments", "拽驻"]]
#     )

 Comparing non-empty counts in merged_df vs enriched_df:

 Column 'Assignment':
   - In merged_df:   1645 non-empty
   - In enriched_df: 1645 non-empty
    Counts MATCH.

 Column 'Status':
   - In merged_df:   2541 non-empty
   - In enriched_df: 2541 non-empty
    Counts MATCH.

 Column 'Comments':
   - In merged_df:   344 non-empty
   - In enriched_df: 344 non-empty
    Counts MATCH.

 Column '拽驻':
   - In merged_df:   1962 non-empty
   - In enriched_df: 1962 non-empty
    Counts MATCH.

### Fix members who didn't have price using all st_2526 and not only todays:

In [ ]:
# # Load the file from robo
# st_2526 = pd.read_csv('List_Report_20250707091028.csv')

# # Make sure it's clean and deduplicated
# st_2526_unique = (
#     st_2526
#     .sort_values("Date", ascending=False)   # or any column to define priority
#     .drop_duplicates(subset=["Fan / Company"])
# )

# # 1锔 Mask: which rows need fixing
# mask_missing = (
#     (enriched_df["RenewSeasonTicket"] == "砖") &
#     (enriched_df["Renew Base Price"].isna())
# )

# # 2锔 How many need fixing
# print(" Rows needing fixing:", mask_missing.sum())

# # 3锔 Subset the rows to fix
# to_fix = enriched_df.loc[mask_missing, ["Full Name"]].merge(
#     st_2526_unique[[
#         "Fan / Company",
#         "User Id",
#         "assign using  ID number",
#         "Email",
#         "Phone",
#         "Base price",
#         "Price",
#         "Price area",
#         "Ticket price types"
#     ]],
#     left_on="Full Name",
#     right_on="Fan / Company",
#     how="left"
# )

# # 4锔 Validation: did any rows fail to find a match?
# missing_matches = to_fix["User Id"].isna().sum()
# print("锔 Rows with no matching st_2526 data:", missing_matches)
# if missing_matches > 0:
#     print(to_fix[to_fix["User Id"].isna()])

# # 5锔 Show how many rows will be updated
# print(" Rows with matching data to update:", len(to_fix) - missing_matches)

# # 6锔 Iterate and update
# updated_count = 0

# for _, row in to_fix.iterrows():
#     name = row["Fan / Company"]

#     # Skip rows with no match
#     if pd.isna(row["User Id"]):
#         continue

#     # Mask in enriched_df
#     mask = (enriched_df["Full Name"] == name)

#     # Overwrite fields
#     enriched_df.loc[mask, "User Id"] = row["User Id"]
#     enriched_df.loc[mask, "TZ"] = row["assign using  ID number"]
#     enriched_df.loc[mask, "Email"] = row["Email"]
#     enriched_df.loc[mask, "Phone"] = row["Phone"]

#     enriched_df.loc[mask, "Renew Base Price"] = row["Base price"]
#     enriched_df.loc[mask, "RenewPrice"] = row["Price"]
#     enriched_df.loc[mask, "Renew Price Area"] = row["Price area"]
#     enriched_df.loc[mask, "RenewPriceType"] = row["Ticket price types"]

#     updated_count += mask.sum()

# # 7锔 Summary
# print(f"\n Finished updating {updated_count} enriched_df rows.")

# # 8锔 Show any rows still missing Renew Base Price
# remaining_missing = enriched_df[
#     (enriched_df["RenewSeasonTicket"] == "砖") &
#     (enriched_df["Renew Base Price"].isna())
# ]
# print("\n Remaining rows still missing Renew Base Price after fill:", len(remaining_missing))
# if not remaining_missing.empty:
#     display(remaining_missing[["Full Name", "Renew Base Price", "RenewPrice"]])

# enriched_df.loc[mask_missing]

 Rows needing fixing: 0
锔 Rows with no matching st_2526 data: 0
 Rows with matching data to update: 0

 Finished updating 0 enriched_df rows.

 Remaining rows still missing Renew Base Price after fill: 0

Empty DataFrame
Columns: [Assignment, Status, Comments, 拽驻, Full Name, TZ, User Id, Email, Phone, Old Season Ticket (All Owners), OldTransactionDate, Old Seat, Base price, Price, Price area, OldPriceType, OldSeasonTicketId, RenewSeasonTicket, Renew Seat, RenewTransactionDate, RenewType, RenewSeasonTicketId, Marketing Allowed, Renew Base Price, RenewPrice, Renew Price Area, RenewPriceType, isorganization, RiseAbove2425, ST_Count]
Index: []

[0 rows x 30 columns]

### Check new members of st_2526:

In [ ]:
# Load the file from robo
st_2526 = pd.read_csv('List_Report_20250707091028.csv')

print(" Loaded st_2526:", st_2526.shape)

# Save original mapping for reference
st_2526_reference = st_2526[['User Id', 'Fan / Company', 'assign using  ID number']].drop_duplicates().copy()

# Clean seat numbers
def clean_number(x):
    if pd.isna(x):
        return ''
    if isinstance(x, float) and x.is_integer():
        return str(int(x))
    return str(x)

# Build Renew Seat
def build_renew_seat(row):
    if pd.isna(row['Area']) or pd.isna(row['Row']) or pd.isna(row['Number']):
        return None
    return (
        str(row['Area']) +
        " 砖专 " +
        clean_number(row['Row']) +
        " 住 " +
        clean_number(row['Number'])
    )

# Compute Renew Seat
st_2526['Renew Seat'] = st_2526.apply(build_renew_seat, axis=1)

# Rename columns
st_2526 = st_2526.rename(columns={
    'Id': 'RenewSeasonTicketId',
    'Ticket price types': 'RenewPriceType',
    'Price area': 'Renew Price Area',
    "Fan / Company": "Full Name",
    "assign using  ID number": "TZ",
    "Date": "RenewTransactionDate",
    "Price": 'RenewPrice', 
    "Base price": "Renew Base Price"
})

print(" Columns after renaming:", list(st_2526.columns))

# Validate unique User Ids before filtering
initial_unique_ids = st_2526['User Id'].nunique()
print(" Unique User Ids before filtering:", initial_unique_ids)

# Remove Complementary
st_2526 = st_2526[st_2526['RenewPriceType'] != 'Complementary']
print(" After removing Complementary:", st_2526.shape)

# Convert RenewTransactionDate to datetime
st_2526["RenewTransactionDate"] = pd.to_datetime(
    st_2526["RenewTransactionDate"], errors="coerce"
)

# Validate date parsing
na_dates = st_2526["RenewTransactionDate"].isna().sum()
print(" Rows with unparsable RenewTransactionDate:", na_dates)

# Get today and tomorrow
today = date.today()
tomorrow = today + timedelta(days=1)

# Filter by date (today or tomorrow)
st_2526 = st_2526[
    st_2526["RenewTransactionDate"].dt.date.isin([today, tomorrow])
]
print(" After filtering for today/tomorrow:", st_2526.shape)

# Check remaining rows
if st_2526.empty:
    print("锔 No rows remaining after filtering.")
else:
    print(" Final rows to process:", st_2526.shape[0])

# Select final columns
st_2526 = st_2526[[
    "Full Name",
    "TZ",
    "User Id",
    "Email",
    "Phone",
    "Renew Base Price",
    "RenewPrice",
    "Renew Price Area",
    "RenewPriceType",
    "RenewSeasonTicketId",
    "Renew Seat",
    "RenewTransactionDate"
]]

# Deduplicate by User Id
before_dedup = st_2526.shape[0]
st_2526 = st_2526.drop_duplicates(subset='User Id')
after_dedup = st_2526.shape[0]
print(f" Dropped {before_dedup - after_dedup} duplicate User Id rows.")

# Preview
print("\n Preview of st_2526:")
st_2526.head()

 Loaded st_2526: (2710, 53)
 Columns after renaming: ['Product Id', 'Product', 'Status', 'RenewSeasonTicketId', 'Full Name', 'User Id', 'TZ', 'First name', 'Last name', 'Email', 'Birth date', 'Street', 'House number', 'Apartment number', 'Zip code', 'City', 'Gender', 'Phone', 'Organization', 'Vat', 'Type', 'RenewTransactionDate', 'Date.1', 'Time', 'RenewPriceType', 'Renew Base Price', 'RenewPrice', 'Renew Price Area', 'Stadium', 'Stand', 'Area', 'Row', 'Number', 'Seat', 'Card member Id', 'Card number', 'Mifare', 'Transaction', 'Cashier', 'Co-owner', 'TransactionOwnerType', 'Payment gate', 'Payment type', 'Payment method', 'Delivery type', 'Ticket Note', 'Transaction Note', 'Role', 'ReturnRequestStatus', 'Voucher number', 'Voucher name', 'Voucher value', 'Unnamed: 52', 'Renew Seat']
 Unique User Ids before filtering: 2450
 After removing Complementary: (2638, 54)
 Rows with unparsable RenewTransactionDate: 0
 After filtering for today/tomorrow: (0, 54)
锔 No rows remaining after filtering.
 Dropped 0 duplicate User Id rows.

 Preview of st_2526:

/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_1791/4041766462.py:52: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  st_2526["RenewTransactionDate"] = pd.to_datetime(

Empty DataFrame
Columns: [Full Name, TZ, User Id, Email, Phone, Renew Base Price, RenewPrice, Renew Price Area, RenewPriceType, RenewSeasonTicketId, Renew Seat, RenewTransactionDate]
Index: []

In [7]:
#  Merge st_2526
before_merge_shape = enriched_df.shape

enriched_df = enriched_df.merge(
    st_2526,
    on="User Id",
    how="left",
    suffixes=("", "_2526")
)

after_merge_shape = enriched_df.shape
print(f" enriched_df shape before merge: {before_merge_shape}")
print(f" enriched_df shape after merge:  {after_merge_shape}")

#  Check how many rows have Renew Base Price from st_2526
new_renew_base = enriched_df["Renew Base Price_2526"].notna().sum()
print(" Rows with Renew Base Price from st_2526:", new_renew_base)

#  Pre-combine preview of missing counts
base_na_before = enriched_df["Renew Base Price"].isna().sum()
price_na_before = enriched_df["RenewPrice"].isna().sum()

print(" Missing Renew Base Price before combine:", base_na_before)
print(" Missing RenewPrice before combine:", price_na_before)

#  Combine Renew Base Price and RenewPrice specifically first
enriched_df["Renew Base Price"] = enriched_df["Renew Base Price"].combine_first(enriched_df["Renew Base Price_2526"])
enriched_df["RenewPrice"] = enriched_df["RenewPrice"].combine_first(enriched_df["RenewPrice_2526"])

#  Post-combine preview
base_na_after = enriched_df["Renew Base Price"].isna().sum()
price_na_after = enriched_df["RenewPrice"].isna().sum()

print(" Missing Renew Base Price after combine:", base_na_after)
print(" Missing RenewPrice after combine:", price_na_after)

#  Combine all remaining _2526 columns
def combine_2526_columns(df, drop_original=False):
    merged_cols = [col for col in df.columns if col.endswith('_2526')]
    renew_flag = pd.Series(False, index=df.index)

    for merged_col in merged_cols:
        base_col = merged_col.rsplit('_', 1)[0]

        if base_col in df.columns:
            # Update the flag if base_col is null and merged_col is not null
            newly_filled = df[base_col].isna() & df[merged_col].notna()
            renew_flag |= newly_filled
            fill_count = newly_filled.sum()
            print(f" Filling {fill_count} values in '{base_col}' from '{merged_col}'")

            # Combine
            df[base_col] = df[base_col].combine_first(df[merged_col])

        else:
            # If no base col, rename
            df.rename(columns={merged_col: base_col}, inplace=True)
            non_null_count = df[base_col].notna().sum()
            print(f" Renamed '{merged_col}' to '{base_col}' ({non_null_count} non-null values)")

            renew_flag |= df[base_col].notna()

        # Drop original merged columns if requested
        if drop_original:
            df.drop(columns=[merged_col], inplace=True)

    # Add RenewSeasonTicket flag
    df["RenewSeasonTicket_Flag"] = renew_flag

    return df

#  Combine and log
enriched_df = combine_2526_columns(enriched_df, drop_original=True)

#  Update RenewSeasonTicket field
enriched_df["RenewSeasonTicket"] = np.where(
    enriched_df["RenewTransactionDate"].notna(),
    '砖',
    'None'
)

#  Summary of RenewSeasonTicket
renew_counts = enriched_df["RenewSeasonTicket"].value_counts(dropna=False)
print("\n RenewSeasonTicket value counts:")
print(renew_counts)

#  Preview
print("\n Preview of enriched_df after combining:")
enriched_df.head()

 enriched_df shape before merge: (51431, 30)
 enriched_df shape after merge:  (51431, 41)
 Rows with Renew Base Price from st_2526: 0
 Missing Renew Base Price before combine: 49065
 Missing RenewPrice before combine: 49065
 Missing Renew Base Price after combine: 49065
 Missing RenewPrice after combine: 49065
 Filling 0 values in 'Full Name' from 'Full Name_2526'
 Filling 0 values in 'TZ' from 'TZ_2526'
 Filling 0 values in 'Email' from 'Email_2526'
 Filling 0 values in 'Phone' from 'Phone_2526'
 Filling 0 values in 'Renew Base Price' from 'Renew Base Price_2526'
 Filling 0 values in 'RenewPrice' from 'RenewPrice_2526'
 Filling 0 values in 'Renew Price Area' from 'Renew Price Area_2526'
 Filling 0 values in 'RenewPriceType' from 'RenewPriceType_2526'
 Filling 0 values in 'RenewSeasonTicketId' from 'RenewSeasonTicketId_2526'
 Filling 0 values in 'Renew Seat' from 'Renew Seat_2526'
 Filling 0 values in 'RenewTransactionDate' from 'RenewTransactionDate_2526'

 RenewSeasonTicket value counts:
RenewSeasonTicket
None    49065
砖     2366
Name: count, dtype: int64

 Preview of enriched_df after combining:

,Assignment,Status,Comments,拽驻,Full Name,TZ,User Id,Email,Phone,Old Season Ticket (All Owners),...,RenewSeasonTicketId,Marketing Allowed,Renew Base Price,RenewPrice,Renew Price Area,RenewPriceType,isorganization,RiseAbove2425,ST_Count,RenewSeasonTicket_Flag
0,B,NaN,NaN,注专 砖 - 专 转,注 专住拽,205461999,10008.0,3gilad3@gmail.com,NaN,"2018/2019, 2017/2018, 2016/2017, 2015/2016...",...,NaN,False,NaN,NaN,NaN,NaN,False,False,5.0,False
1,NaN,砖,NaN,NaN,砖 拽爪专,040175192,10010.0,katzirs30@gmail.com,0502877926,"2024/2025, 2023/2024, 2022/2023, 2021/2022...",...,899548.0,False,1650.0,1650.0,B,Playoff finals - Adult,False,False,10.0,False
2,注,NaN,NaN,砖 2024/25 专,砖 拽专,000094938,10011.0,rachel@kotler-adika.co.il,0544755212,"2024/2025, 2023/2024, 2022/2023, 2021/2022...",...,NaN,True,NaN,NaN,NaN,NaN,False,False,10.0,False
3,注,注转,转,砖 2024/25 专,转 住,038818340,10528.0,yonie84@gmail.com,0524567167,"2024/2025, 2023/2024, 2022/2023, 2021/2022...",...,NaN,True,NaN,NaN,NaN,NaN,False,False,10.0,False
4,B,NaN,NaN,注专 砖 - 专 转,专 砖注,000010531,10531.0,NaN,0547995767,"2023/2024, 2022/2023, 2021/2022, 2019/2020...",...,NaN,False,NaN,NaN,NaN,NaN,False,False,9.0,False

### Add people that were missing from renewal & excluding ONE TEAM ONE FAMILY:

In [9]:
names_to_exclude = [
    " ",
    "专 ",
    "转专 ",
    "注 ",
    '注 住',
    '拽 住',
    '注驻专 专注',
    '转 专拽',
    '转 拽驻',
    '转 拽驻',
    '专 专驻 拽专',
    '专 ',
    '砖专转 住',
    '爪 住',
    '注 砖专爪',
    '专 砖专爪',
    '专 专',
    '专 专',
    '注专 专'
]

emails_to_exclude = [
    "msleon123@gmail.com",
    'hareven@gmail.com',
    'avalid59@gmail.com',
    'gordonsarah01@gmail.com',
    'yishai757@gmail.com',
    'laor.print@gmail.com',
    'rois@nvidia.com',
    'roisasson6@gmail.com'
]

In [10]:
# Load renew file
renew = pd.read_csv('SeasonTicketRenewReport_2025-07-07.csv')
print(" Loaded renew:", renew.shape)

# Drop duplicates
renew = renew.drop_duplicates(subset='User')
print(" After dropping duplicate User IDs:", renew.shape)

# Make sure Emails are lowercase and clean
enriched_df["Email"] = enriched_df["Email"].astype(str).str.strip().str.lower()
renew["Email"] = renew["Email"].astype(str).str.strip().str.lower()

# Build set of emails
emails_enriched = set(enriched_df["Email"].dropna().unique())

# Mask: Emails not in enriched_df
mask_not_in_enriched = ~renew["Email"].isin(emails_enriched)
print(" Rows with emails not in enriched_df:", mask_not_in_enriched.sum())

# Ensure names are strings
renew["First name"] = renew["First name"].astype(str)
renew["Last name"] = renew["Last name"].astype(str)

# Mask: names containing '拽'
mask_bad = (
    renew["First name"].str.contains("拽", na=False) |
    renew["Last name"].str.contains("拽", na=False)
)
print(" Rows containing '拽':", mask_bad.sum())

# Drop '拽'
renew = renew[~mask_bad].copy()
print(" After dropping '拽':", renew.shape)

# Subset rows not in enriched_df
missing_rows = renew.loc[mask_not_in_enriched]
print(" Initial missing rows:", missing_rows.shape)

# Exclude specific OldPriceType
mask_price_type = ~missing_rows['OldPriceType'].isin(['拽转 注专 \\', '拽转 注专'])
missing_rows = missing_rows[mask_price_type]
print(" After filtering OldPriceType:", missing_rows.shape)

# Ensure OldSector is string
missing_rows["OldSector"] = missing_rows["OldSector"].astype(str)

# Exclude sectors containing '专'
mask_not_gallery = ~missing_rows["OldSector"].str.contains("专", na=False)
missing_rows = missing_rows[mask_not_gallery]
print(" After excluding '专':", missing_rows.shape)

# Exclude by email pattern
mask_bad_email = missing_rows["Email"].str.contains('roboticket|hapoel|adfam', na=False)
missing_rows = missing_rows[~mask_bad_email]
print(" After excluding by email pattern:", missing_rows.shape)

# Exclude specific names and emails
missing_rows['Full Name'] = missing_rows['First name'] + " " + missing_rows['Last name']
missing_rows = missing_rows[~missing_rows['Full Name'].isin(names_to_exclude)]
missing_rows = missing_rows[~missing_rows['Email'].isin(emails_to_exclude)]
print(" After excluding names and emails:", missing_rows.shape)

# If no rows remain, stop here
if missing_rows.empty:
    print("锔 No rows to append. Exiting.")
else:
    print(" Ready to append rows:", missing_rows.shape[0])

    # Ensure all columns exist
    for col in enriched_df.columns:
        if col not in missing_rows.columns:
            missing_rows[col] = None

    # Reorder columns
    missing_rows = missing_rows[enriched_df.columns]

    # Before concatenation shape
    before_concat_shape = enriched_df.shape
    enriched_df = pd.concat([enriched_df, missing_rows], ignore_index=True)
    after_concat_shape = enriched_df.shape

    print(f" enriched_df shape before concat: {before_concat_shape}")
    print(f" enriched_df shape after concat:  {after_concat_shape}")
    print(f" Rows added: {after_concat_shape[0] - before_concat_shape[0]}")

    # Drop duplicates
    before_dedup = enriched_df.shape[0]
    enriched_df = enriched_df.drop_duplicates(subset='User Id')
    after_dedup = enriched_df.shape[0]

    print(f" Dropped {before_dedup - after_dedup} duplicate User Id rows.")
    print(" Final enriched_df rows:", after_dedup)

#  Done

 Loaded renew: (4370, 20)
 After dropping duplicate User IDs: (3776, 20)
 Rows with emails not in enriched_df: 547
 Rows containing '拽': 3
 After dropping '拽': (3773, 20)
 Initial missing rows: (544, 20)
 After filtering OldPriceType: (150, 20)
 After excluding '专': (57, 20)
 After excluding by email pattern: (49, 20)
 After excluding names and emails: (29, 21)
 Ready to append rows: 29
 enriched_df shape before concat: (51431, 31)
 enriched_df shape after concat:  (51460, 31)
 Rows added: 29
 Dropped 29808 duplicate User Id rows.
 Final enriched_df rows: 21652

/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_1791/3112581692.py:79: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  enriched_df = pd.concat([enriched_df, missing_rows], ignore_index=True)

### Renew report:

In [11]:
#  Convert RenewTransactionDate to datetime
renew["RenewTransactionDate"] = pd.to_datetime(
    renew["RenewTransactionDate"], errors="coerce"
)
print(" Parsed RenewTransactionDate, null dates:", renew["RenewTransactionDate"].isna().sum())

#  Filter to today or tomorrow
today = date.today()
tomorrow = today + timedelta(days=1)

before_date_filter = renew.shape[0]
renew = renew[
    renew["RenewTransactionDate"].dt.date.isin([today, tomorrow])
]
after_date_filter = renew.shape[0]
print(f" Filtered to today/tomorrow: {after_date_filter} rows (was {before_date_filter})")

#  Remove duplicate users
before_dedup = renew.shape[0]
renew = renew.drop_duplicates(subset="User").copy()
after_dedup = renew.shape[0]
print(f" Dropped {before_dedup - after_dedup} duplicate User rows")

#  Build Full Name
renew["Full Name"] = renew["First name"].fillna('') + " " + renew["Last name"].fillna('')
print(" Built Full Name")

#  Set RenewSeasonTicket
renew["RenewSeasonTicket"] = "砖"

#  Rename User to TZ
renew = renew.rename(columns={"User": "TZ"})

#  Convert TZ to numeric
renew["TZ"] = pd.to_numeric(renew["TZ"], errors="coerce").astype("Int64")
st_2526_reference["assign using  ID number"] = pd.to_numeric(
    st_2526_reference["assign using  ID number"], errors="coerce"
).astype("Int64")

#  Check how many User Ids are missing before merge
missing_user_ids_before = renew["TZ"].isna().sum()
print(" Rows with missing TZ before merge:", missing_user_ids_before)

#  Merge to fill User Id
renew = renew.merge(
    st_2526_reference,
    left_on="TZ",
    right_on="assign using  ID number",
    how="left",
    suffixes=("", "_from_reference")
)

#  Rename User Id column
renew = renew.rename(columns={
    "User Id_from_reference": "User Id"
})

#  Count how many User Ids are still missing
still_missing_user_ids = renew["User Id"].isna().sum()
filled_user_ids = renew.shape[0] - still_missing_user_ids
print(f" Filled User Ids from reference: {filled_user_ids}")
print(f"锔 Remaining rows missing User Id after merge: {still_missing_user_ids}")

#  Build seat strings
def clean_number(x):
    if pd.isna(x):
        return ''
    if isinstance(x, float) and x.is_integer():
        return str(int(x))
    return str(x)

def build_old_seat(row):
    if pd.isna(row['OldSector']) or pd.isna(row['OldRow']) or pd.isna(row['OldNumber']):
        return None
    return (
        str(row['OldSector']) +
        " 砖专 " +
        clean_number(row['OldRow']) +
        " 住 " +
        clean_number(row['OldNumber'])
    )

def build_renew_seat(row):
    if pd.isna(row['RenewSector']) or pd.isna(row['RenewRow']) or pd.isna(row['RenewNumber']):
        return None
    return (
        str(row['RenewSector']) +
        " 砖专 " +
        clean_number(row['RenewRow']) +
        " 住 " +
        clean_number(row['RenewNumber'])
    )

renew['Old Seat'] = renew.apply(build_old_seat, axis=1)
renew['Renew Seat'] = renew.apply(build_renew_seat, axis=1)
print(" Built Old Seat and Renew Seat columns")

#  Drop unneeded columns
renew = renew.drop(columns=[
    "Fan / Company",
    "assign using  ID number",
    "School",
    "Last name",
    "First name",
    "OldSector",
    "OldRow",
    "OldNumber",
    "RenewSector",
    "RenewRow",
    "RenewNumber"
])

print(" Renew after cleanup:", renew.shape)

renew_new_rows = renew[~renew["User Id"].isin(enriched_df["User Id"])]
print(" New rows to add:", len(renew_new_rows))

 Parsed RenewTransactionDate, null dates: 1588
 Filtered to today/tomorrow: 0 rows (was 3773)
 Dropped 0 duplicate User rows
 Built Full Name
 Rows with missing TZ before merge: 0
 Filled User Ids from reference: 0
锔 Remaining rows missing User Id after merge: 0
 Built Old Seat and Renew Seat columns
 Renew after cleanup: (0, 15)
 New rows to add: 0

### Only if we need to add them:

In [97]:
enriched_df = pd.concat([enriched_df, renew_new_rows], ignore_index=True)

### Continue:

# FIX BASE PRICE & PRICE OF ST_2425:

In [12]:
enriched_df = enriched_df.drop_duplicates(subset=["User Id"])

st_2425 = pd.read_csv('List_Report_20250609080140.csv')

In [13]:
# 1锔 Filter initial rows with missing prices in  注转 2024/2025
mask_season = enriched_df["Old Season Ticket (All Owners)"] == " 注转 2024/2025"
mask_prices = enriched_df["Base price"].isna() | enriched_df["Price"].isna()
mask = mask_season & mask_prices

missing_price_rows = enriched_df.loc[mask, ["User Id", "Full Name", "Base price", "Price"]]

print(" Found rows with missing Base price or Price:", len(missing_price_rows))
if not missing_price_rows.empty:
    display(missing_price_rows)

# 2锔 Make sure IDs are numeric
enriched_df["User Id"] = pd.to_numeric(enriched_df["User Id"], errors="coerce").astype("Int64")
st_2425["User Id"] = pd.to_numeric(st_2425["User Id"], errors="coerce").astype("Int64")

# 3锔 Build price lookup by User Id
price_lookup = (
    st_2425
    .drop_duplicates(subset=["User Id"])
    .set_index("User Id")[["Base price", "Price"]]
)

# 4锔 Fill by User Id
enriched_df["Base price"] = enriched_df["Base price"].combine_first(
    enriched_df["User Id"].map(price_lookup["Base price"])
)
enriched_df["Price"] = enriched_df["Price"].combine_first(
    enriched_df["User Id"].map(price_lookup["Price"])
)

# 5锔 Recheck what is still missing after User Id filling
mask_missing_after_id = mask_season & (enriched_df["Base price"].isna() | enriched_df["Price"].isna())

still_missing_prices = enriched_df.loc[
    mask_missing_after_id,
    ["User Id", "Full Name", "Base price", "Price"]
]

filled_count = len(missing_price_rows) - len(still_missing_prices)

print(" Filled by User Id:", filled_count)
print(" Remaining after User Id filling:", len(still_missing_prices))
if not still_missing_prices.empty:
    display(still_missing_prices)

# 6锔 Further narrow down: exclude those Renewed
mask_not_renewed = enriched_df["RenewSeasonTicket"] != "砖"
final_mask = mask_season & (enriched_df["Base price"].isna() | enriched_df["Price"].isna()) & mask_not_renewed

problematic_rows = enriched_df.loc[
    final_mask,
    ["User Id", "Full Name", "Base price", "Price", "RenewSeasonTicket"]
]

print(" Rows missing prices and not renewed:", len(problematic_rows))
if not problematic_rows.empty:
    display(problematic_rows)

# 7锔 Fallback: fill by Full Name
# Make sure st_2425 has 'Full Name' column
if "Fan / Company" in st_2425.columns:
    st_2425 = st_2425.rename(columns={"Fan / Company": "Full Name"})

fallback_lookup = (
    st_2425
    .drop_duplicates(subset=["Full Name"])
    .set_index("Full Name")[["Base price", "Price"]]
)

# Fill Base price by Full Name
before_fallback_base = enriched_df["Base price"].isna().sum()
before_fallback_price = enriched_df["Price"].isna().sum()

enriched_df["Base price"] = enriched_df["Base price"].combine_first(
    enriched_df["Full Name"].map(fallback_lookup["Base price"])
)
enriched_df["Price"] = enriched_df["Price"].combine_first(
    enriched_df["Full Name"].map(fallback_lookup["Price"])
)

after_fallback_base = enriched_df["Base price"].isna().sum()
after_fallback_price = enriched_df["Price"].isna().sum()

print(" Filled Base price by Full Name:", before_fallback_base - after_fallback_base)
print(" Filled Price by Full Name:", before_fallback_price - after_fallback_price)

# 8锔 Recheck final missing prices
mask_final_missing = mask_season & (enriched_df["Base price"].isna() | enriched_df["Price"].isna()) & mask_not_renewed

still_missing_after_fallback = enriched_df.loc[
    mask_final_missing,
    ["User Id", "Full Name", "Base price", "Price"]
]

print(" Final remaining rows still missing prices:", len(still_missing_after_fallback))
if not still_missing_after_fallback.empty:
    display(still_missing_after_fallback)

 Found rows with missing Base price or Price: 1

     User Id   Full Name  Base price  Price
231  11080.0  注 专         NaN    NaN

 Filled by User Id: 0
 Remaining after User Id filling: 1

     User Id   Full Name  Base price  Price
231    11080  注 专         NaN    NaN

 Rows missing prices and not renewed: 0
 Filled Base price by Full Name: 0
 Filled Price by Full Name: 0
 Final remaining rows still missing prices: 0

### Fix TZ to be 9 digits:

In [ ]:
# 1锔 Convert to string and strip whitespace
enriched_df["TZ"] = enriched_df["TZ"].astype(str).str.strip()

# 2锔 Remove '.0' suffix if present
enriched_df["TZ"] = enriched_df["TZ"].str.replace(r"\.0$", "", regex=True)

# 3锔 Replace 'nan' string with proper NA
enriched_df["TZ"] = enriched_df["TZ"].replace("nan", pd.NA)

# 4锔 Pad to 9 digits where applicable
def safe_zfill(x):
    if pd.isna(x):
        return None
    return x.zfill(9)

enriched_df["TZ"] = enriched_df["TZ"].apply(safe_zfill)

# 5锔 Compute lengths for validation
tz_lengths = enriched_df["TZ"].dropna().apply(len)

# 6锔 Count by length
length_counts = tz_lengths.value_counts().sort_index()
print(" TZ length distribution:\n", length_counts)

# 7锔 Identify rows where TZ is shorter than 9 digits
short_tz_mask = tz_lengths < 9
short_tz_rows = enriched_df.loc[short_tz_mask.index[short_tz_mask], ["User Id", "Full Name", "TZ"]]
print(" Rows where TZ is still shorter than 9 digits:", len(short_tz_rows))
if not short_tz_rows.empty:
    display(short_tz_rows.head(10))

# 8锔 Count nulls
null_tz_count = enriched_df["TZ"].isna().sum()
print(" Rows where TZ is null:", null_tz_count)

# 9锔 Preview cleaned examples
print(" Sample cleaned TZ values:")
display(enriched_df["TZ"].dropna().unique()[:5])

 TZ length distribution:
 TZ
9     21618
10       14
11        7
12        6
13        1
14        2
15        2
19        1
20        1
Name: count, dtype: int64
 Rows where TZ is still shorter than 9 digits: 0
 Rows where TZ is null: 0

### Add isorganization missing values:

In [ ]:
# 1锔 Load robo_users
robo_users = pd.read_csv('UserCreatedReport_2025-07-07 09_13.csv')
print(" Loaded robo_users:", robo_users.shape)

# 2锔 Convert createdon to date
robo_users['createdon'] = pd.to_datetime(robo_users['createdon'], errors='coerce').dt.date
print(" Parsed 'createdon'. Null dates:", robo_users['createdon'].isna().sum())

# 3锔 Filter to today/yesterday
today = date.today()
yesterday = today - timedelta(days=1)

before_filter = robo_users.shape[0]
robo_users = robo_users[robo_users['createdon'].isin([today, yesterday])]
after_filter = robo_users.shape[0]
print(f" Filtered to today/yesterday: {after_filter} rows (was {before_filter})")

# 4锔 Keep needed columns
robo_users = robo_users[['userid', 'firstname', 'lastname', 'email', 'phone', 'isorganization', 'identifier']]

# 5锔 Convert IDs
robo_users['userid'] = pd.to_numeric(robo_users['userid'], errors="coerce").astype("Int64")
enriched_df['User Id'] = pd.to_numeric(enriched_df['User Id'], errors="coerce").astype("Int64")

# 6锔 Map isorganization
robo_users['isorganization'] = robo_users['isorganization'].map({'Yes': True, 'No': False})

# 7锔 Merge
before_merge_rows = enriched_df.shape[0]

enriched_df = enriched_df.merge(
    robo_users,
    left_on='User Id',
    right_on='userid',
    how='outer',
    suffixes=("", "_robo")
)

after_merge_rows = enriched_df.shape[0]
new_rows_added = after_merge_rows - before_merge_rows
print(f" enriched_df rows before merge: {before_merge_rows}")
print(f" enriched_df rows after merge: {after_merge_rows}")
print(f" New rows added: {new_rows_added}")

# 8锔 Fill in fields
# Full Name
enriched_df["Full Name"] = enriched_df["Full Name"].combine_first(
    enriched_df["firstname"].fillna("") + " " + enriched_df["lastname"].fillna("")
)

# Email
filled_email_before = enriched_df["Email"].notna().sum()
enriched_df["Email"] = enriched_df["Email"].combine_first(enriched_df["email"])
filled_email_after = enriched_df["Email"].notna().sum()
print(f" Filled Email: {filled_email_after - filled_email_before}")

# Phone
filled_phone_before = enriched_df["Phone"].notna().sum()
enriched_df["Phone"] = enriched_df["Phone"].combine_first(enriched_df["phone"])
filled_phone_after = enriched_df["Phone"].notna().sum()
print(f" Filled Phone: {filled_phone_after - filled_phone_before}")

# TZ
filled_tz_before = enriched_df["TZ"].notna().sum()
enriched_df["TZ"] = enriched_df["TZ"].combine_first(enriched_df["identifier"])
filled_tz_after = enriched_df["TZ"].notna().sum()
print(f" Filled TZ: {filled_tz_after - filled_tz_before}")

# isorganization
filled_org_before = enriched_df["isorganization"].notna().sum()
enriched_df["isorganization"] = enriched_df["isorganization"].combine_first(enriched_df["isorganization_robo"])
filled_org_after = enriched_df["isorganization"].notna().sum()
print(f" Filled isorganization: {filled_org_after - filled_org_before}")

# User Id
filled_userid_before = enriched_df["User Id"].notna().sum()
enriched_df["User Id"] = enriched_df["User Id"].combine_first(enriched_df["userid"])
filled_userid_after = enriched_df["User Id"].notna().sum()
print(f" Filled User Id: {filled_userid_after - filled_userid_before}")

# 9锔 Drop redundant columns
enriched_df.drop(
    columns=[
        "userid",
        "firstname",
        "lastname",
        "email",
        "phone",
        "identifier",
        'isorganization_robo'
    ],
    inplace=True
)

enriched_df = enriched_df.drop(columns=['RenewSeasonTicket_Flag', 'Season Ticket Revenue'])

# 1锔0锔 Preview
print(" Final enriched_df shape:", enriched_df.shape)
enriched_df.head()

 Loaded robo_users: (56, 29)
 Parsed 'createdon'. Null dates: 0
 Filtered to today/yesterday: 3 rows (was 56)
 enriched_df rows before merge: 21652
 enriched_df rows after merge: 21652
 New rows added: 0
 Filled Email: 0
 Filled Phone: 0
 Filled TZ: 0
 Filled isorganization: 1
 Filled User Id: 0
 Final enriched_df shape: (21652, 31)

,Assignment,Status,Comments,拽驻,Full Name,TZ,User Id,Email,Phone,Old Season Ticket (All Owners),...,RenewSeasonTicketId,Marketing Allowed,Renew Base Price,RenewPrice,Renew Price Area,RenewPriceType,isorganization,RiseAbove2425,ST_Count,RenewSeasonTicket_Flag
0,B,NaN,NaN,注专 砖 - 专 转,注 专住拽,205461999,10008,3gilad3@gmail.com,NaN,"2018/2019, 2017/2018, 2016/2017, 2015/2016...",...,NaN,False,NaN,NaN,NaN,NaN,False,False,5.0,False
1,NaN,砖,NaN,NaN,砖 拽爪专,040175192,10010,katzirs30@gmail.com,0502877926,"2024/2025, 2023/2024, 2022/2023, 2021/2022...",...,899548.0,False,1650.0,1650.0,B,Playoff finals - Adult,False,False,10.0,False
2,注,NaN,NaN,砖 2024/25 专,砖 拽专,000094938,10011,rachel@kotler-adika.co.il,0544755212,"2024/2025, 2023/2024, 2022/2023, 2021/2022...",...,NaN,True,NaN,NaN,NaN,NaN,False,False,10.0,False
3,注,注转,转,砖 2024/25 专,转 住,038818340,10528,yonie84@gmail.com,0524567167,"2024/2025, 2023/2024, 2022/2023, 2021/2022...",...,NaN,True,NaN,NaN,NaN,NaN,False,False,10.0,False
4,B,NaN,NaN,注专 砖 - 专 转,专 砖注,000010531,10531,nan,0547995767,"2023/2024, 2022/2023, 2021/2022, 2019/2020...",...,NaN,False,NaN,NaN,NaN,NaN,False,False,9.0,False

## Last Check:

### Whoever have both tickets - then ST_Count = 2 not 1:

In [17]:
# 1锔 Build the mask
mask = (
    (enriched_df["Old Season Ticket (All Owners)"] == " 注转 2024/2025") &
    (enriched_df["RenewSeasonTicket"] == "砖")
)

# 2锔 Count how many rows match
matched_rows = mask.sum()
print(f" Rows where both conditions are true: {matched_rows}")

# 3锔 Show sample rows before updating
if matched_rows > 0:
    print(" Sample rows BEFORE update:")
    display(enriched_df.loc[mask, ["User Id", "Full Name", "ST_Count"]].head())

# 4锔 Update ST_Count to 2
enriched_df.loc[mask, "ST_Count"] = 2

# 5锔 Validate update
print(" Confirming ST_Count updated to 2 in matching rows:")
updated_counts = enriched_df.loc[mask, "ST_Count"].value_counts(dropna=False)
print(updated_counts)

 Rows where both conditions are true: 7
 Sample rows BEFORE update:

      User Id       Full Name  ST_Count
231     11080      注 专       1.0
3913    33762        砖       1.0
4495    37199  转 专专       1.0
6559  1331209      专 专       1.0
6962  1337093         专        1.0

 Confirming ST_Count updated to 2 in matching rows:
ST_Count
2.0    7
Name: count, dtype: int64

### Fix lots of duplicates on 转 专-:

In [ ]:
# # 1锔 Load sf_users
# sf_users = pd.read_excel('Users report-2025-07-05-23-44-53.xlsx')
# print(" Loaded sf_users:", sf_users.shape)

# # 2锔 Ensure IDs are numeric
# enriched_df["User Id"] = pd.to_numeric(enriched_df["User Id"], errors="coerce").astype("Int64")
# sf_users["HJBC ID"] = pd.to_numeric(sf_users["HJBC ID"], errors="coerce").astype("Int64")

# # 3锔 Copy before merge to preserve original names
# pre_merge = enriched_df.copy()

# # 4锔 Mask rows with Full Name = 转 专-
# mask_itai_barav = pre_merge["Full Name"] == "转 专-"

# # 5锔 Get User Ids
# user_ids_to_replace = pre_merge.loc[mask_itai_barav, "User Id"].unique()
# print(" User Ids to replace:", user_ids_to_replace)

# # 6锔 Merge
# test = enriched_df.merge(
#     sf_users,
#     how="left",
#     left_on="User Id",
#     right_on="HJBC ID",
#     suffixes=("", "_user")
# )

# # 7锔 Build mask after merge
# mask_final = test["User Id"].isin(user_ids_to_replace)
# print(" Rows matching mask after merge:", mask_final.sum())

# # 8锔 Show preview before replacing
# if mask_final.sum() > 0:
#     print(" Sample rows BEFORE replacement:")
#     display(test.loc[mask_final, ["User Id", "Full Name", "Email", "Phone"]].head())

# # 9锔 Overwrite Full Name, Email, Phone, TZ
# columns_to_update = [
#     ("Full Name", "Account Name"),
#     ("Email", "Email_user"),
#     ("Phone", "Phone_user"),
#     ("TZ", "ID")
# ]

# for target_col, source_col in columns_to_update:
#     if source_col in test.columns:
#         test.loc[mask_final, target_col] = test.loc[mask_final, source_col]
#         print(f" Overwrote column: {target_col}")

# #  Clear other columns
# columns_to_fill_none = [
#     "Assignment",
#     "Status",
#     "Comments",
#     "拽驻",
#     "Old Season Ticket (All Owners)",
#     "OldTransactionDate",
#     "Old Seat",
#     "Base price",
#     "Price",
#     "Price area",
#     "OldPriceType",
#     "OldSeasonTicketId",
#     "RenewSeasonTicket",
#     "Renew Seat",
#     "RenewTransactionDate",
#     "RenewType",
#     "RenewSeasonTicketId",
#     "Renew Base Price",
#     "RenewPrice",
#     "Renew Price Area",
#     "RenewPriceType",
#     "RiseAbove2425"
# ]

# for col in columns_to_fill_none:
#     if col in test.columns:
#         test.loc[mask_final, col] = "None"
# print(f" Cleared columns: {len(columns_to_fill_none)}")

# # 1锔1锔 Flags
# test.loc[mask_final, "isorganization"] = False
# test.loc[mask_final, "ST_Count"] = 0

# # 1锔2锔 Drop redundant columns
# cols_to_drop = [
#     "Marketing Allowed_user",
#     "Phone_user",
#     "Email_user",
#     "Account Name",
#     "ID",
#     "HJBC ID",
#     "Age",
#     "City",
#     "Street",
#     "Last Activity",
#     "Created Date",
#     "Is Lite User",
#     "Is SSO User"
# ]
# test = test.drop(columns=cols_to_drop, errors="ignore")
# print(f" Dropped columns: {len(cols_to_drop)}")

# # 1锔3锔 Validate results
# final_rows = test[test["User Id"].isin(user_ids_to_replace)]
# print(" Final sample rows AFTER update:")
# display(final_rows[["User Id", "Full Name", "Email", "Phone", "ST_Count"]])

# # Optional: assign back to enriched_df
# enriched_df = test.copy()

 Loaded sf_users: (52393, 14)
 User Ids to replace: <IntegerArray>
[]
Length: 0, dtype: Int64
 Rows matching mask after merge: 0
 Overwrote column: Full Name
 Overwrote column: Email
 Overwrote column: Phone
 Overwrote column: TZ
 Cleared columns: 22
 Dropped columns: 13
 Final sample rows AFTER update:

/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_1791/713131485.py:78: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'None' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  test.loc[mask_final, col] = "None"
/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_1791/713131485.py:78: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'None' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  test.loc[mask_final, col] = "None"
/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_1791/713131485.py:78: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'None' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  test.loc[mask_final, col] = "None"
/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_1791/713131485.py:78: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'None' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  test.loc[mask_final, col] = "None"
/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_1791/713131485.py:78: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'None' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  test.loc[mask_final, col] = "None"
/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_1791/713131485.py:78: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'None' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  test.loc[mask_final, col] = "None"

Empty DataFrame
Columns: [User Id, Full Name, Email, Phone, ST_Count]
Index: []

### Fixing Seniority if necessary:

In [21]:
# 1锔 Load seniority Excel
seniority = pd.read_excel('Output Segments.xlsx')
print(" Loaded seniority:", seniority.shape)

# 2锔 Convert IDs to numeric
seniority["client_number"] = pd.to_numeric(seniority["client_number"], errors="coerce").astype("Int64")

# 3锔 Build mapping of columns with 1
def concat_columns_with_ones(row):
    cols_with_one = [col for col in row.index if row[col] in (1, 1.0)]
    return ", ".join(cols_with_one) if cols_with_one else None

seniority_mapping = seniority.set_index("client_number").apply(concat_columns_with_ones, axis=1).to_dict()

# 4锔 Map Seniority
enriched_df["Seniority_String"] = enriched_df["User Id"].map(seniority_mapping)

# 5锔 Show counts of mapped Seniority_String
print(" Seniority_String value counts:\n", enriched_df["Seniority_String"].value_counts(dropna=False))

# 6锔 Build mask where Seniority_String is not null
mask = enriched_df["Seniority_String"].notna()
print(f" Rows with Seniority_String to override Old Season Ticket: {mask.sum()}")

# 7锔 Preview before updating
print(" Sample rows BEFORE updating Old Season Ticket:")
display(enriched_df.loc[mask, ["User Id", "Full Name", "Old Season Ticket (All Owners)", "Seniority_String"]].head())

# 8锔 Override Old Season Ticket (always replace)
enriched_df.loc[mask, "Old Season Ticket (All Owners)"] = enriched_df.loc[mask, "Seniority_String"]

# 9锔 Drop helper column
enriched_df = enriched_df.drop(columns=["Seniority_String"])

#  Recalculate ST_Count
enriched_df["ST_Count"] = (
    enriched_df["Old Season Ticket (All Owners)"]
    .fillna("")
    .apply(lambda x: len([item for item in x.split(",") if item.strip()]) if x else 0)
)

# 1锔1锔 Show final counts
print(" Final ST_Count value counts:\n", enriched_df["ST_Count"].value_counts(dropna=False))

# 1锔2锔 Drop duplicates on User Id
enriched_df = enriched_df.drop_duplicates(subset="User Id")

# 1锔3锔 Final shape
print(" Final enriched_df shape:", enriched_df.shape)

 Loaded seniority: (12172, 11)
 Seniority_String value counts:
 Seniority_String
NaN                                                                                                                       47030
 2024/2025                                                                                                                 1218
 2024/2025,  2023/2024,  2022/2023,  2021/2022,  2019/2020,  2018/2019,  2017/2018,  2016/2017,  2015/2016,  2014/2015      626
 2024/2025,  2023/2024                                                                                                      191
None                                                                                                                        162
                                                                                                                          ...
 2022/2023,  2021/2022,  2017/2018,  2016/2017,  2015/2016                                                                    1
 2024/2025,  2023/2024,  2018/2019,  2015/2016                                                                                1
 2019/2020,  2018/2019,  2016/2017,  2015/2016,  2014/2015                                                                    1
 2024/2025,  2022/2023,  2021/2022,  2018/2019,  2017/2018,  2016/2017                                                        1
 2023/2024,  2019/2020,  2014/2015                                                                                            1
Name: count, Length: 213, dtype: int64
 Rows with Seniority_String to override Old Season Ticket: 4243
 Sample rows BEFORE updating Old Season Ticket:

,User Id,Full Name,Old Season Ticket (All Owners),Seniority_String
0,10008,注 专住拽,"2018/2019, 2017/2018, 2016/2017, 2015/2016...","2018/2019, 2017/2018, 2016/2017, 2015/2016..."
1,10010,砖 拽爪专,"2024/2025, 2023/2024, 2022/2023, 2021/2022...","2024/2025, 2023/2024, 2022/2023, 2021/2022..."
2,10011,砖 拽专,"2024/2025, 2023/2024, 2022/2023, 2021/2022...","2024/2025, 2023/2024, 2022/2023, 2021/2022..."
3,10528,转 住,"2024/2025, 2023/2024, 2022/2023, 2021/2022...","2024/2025, 2023/2024, 2022/2023, 2021/2022..."
4,10531,专 砖注,"2023/2024, 2022/2023, 2021/2022, 2019/2020...","2023/2024, 2022/2023, 2021/2022, 2019/2020..."

 Final ST_Count value counts:
 ST_Count
0     47165
1      1555
10      626
2       396
4       343
3       270
5       256
6       229
9       215
8       207
7       173
Name: count, dtype: int64
 Final enriched_df shape: (21652, 32)

# The End:

In [22]:
enriched_df.to_excel('Final_Users.xlsx', index=False)